.order_block {
  font-family: 'Noto Sans Bengali', Arial, Helvetica, sans-serif;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.order_block h3 {
  font-family: 'Noto Sans Bengali', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  color: inherit !important;
  margin-bottom: 0 !important;
}

.order_block h3:before {
  display: none;
}

.prod_img_wrapper {
  max-width: 300px;
  margin: 15px auto;
  position: relative;
  text-align: center;
}

.prod_img_wrapper img {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.priceс {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Noto Sans Bengali', Arial, Helvetica, sans-serif;
  right: 0;
  bottom: 0;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
  width: 165px;
  height: 110px;
  text-align: center !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  transform: rotateZ(-7deg);
  margin: -0px auto 0px;
  background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 19%;
}

span.discountс {
  display: block;
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  margin: 0 auto;
  color: red;
}

.js_old_price {
  /* display: block; */
  margin: 0 auto;
  text-align: center;
}

.wheel_input {
  display: block;
  margin: 0 auto 20px !important;
  padding: 10px !important;
  width: 100% !important;
  border: 2px solid grey !important;
  border-radius: 5px !important;
  box-sizing: border-box;
}

.data_label {
  line-height: 30px;
}

.order_form {
  max-width: 480px;
  width: 100%;
  display: block !important;
  margin: 20px auto 0 !important;
  text-align: center !important;
}

.order_form>div {
  text-align: center;
}

.main-link {
  display: block;
  margin: 40px auto;
  padding: 15px;
  font-size: 18px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.main-link:hover {
  opacity: 0.8;
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}

.time_remains_title {
  padding-top: 15px;
  text-align: center;
  font-size: 22px;
  margin: 0;
}

.phone__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[name=areacode] {
  max-width: 55px;
  margin-right: 10px !important;
  padding: 5px !important;
  text-align: center;
}