html,
body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans Bengali', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #000;
    background-color: #F4F7FA;
}

.under-text{
    text-align: center;
    color: black;
    margin-top: 20px;
    font-size: 16px;
  }
.c15 {
    margin: 10px auto;
    margin-bottom: 25px;
}

.c15,
.c15 td,
.c15 tr {
    border: 1px solid #d6d6d6;
}

.c15 .c3 p {
    padding: 5px;
    margin-bottom: 0px;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
#title_block {
    width: 100%;
}

.title_block_wrapper {
    width: 100%;
    height: 100%;
}

.title_block_content {
    position: relative;
    width: 100%;
    height: 100%;
}

.title_block_img .title_img {
    margin: 0px !important;
    padding: 0px !important;
    height: 100% !important;
    width: 100% !important;
    display: inline !important;
    -o-object-fit: cover;
    object-fit: cover;
}

.title_block_img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title_block_shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: #000 !important;
    opacity: 0.7;
}

.title_block_texts {
    position: relative;
    z-index: 9;
    background: transparent !important;
    padding: 21px;
}

.title_block_bread span {
    color: #fff;
    font: bold 10px/16px 'Noto Sans Bengali', Arial, Helvetica, sans-serif;;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: .88;
}

.title_h1 {
    font: 600 40px/48px 'Noto Sans Bengali', Arial, Helvetica, sans-serif;;
    color: #fff;
}

.title_bq {
    border-left: 4px solid #349dee;
    padding-left: 16px;
    color: #fff;
    opacity: 0.88;
    font: 24px/40px Merriweather, serif;

}

.title_block_author {
    margin-top: 26px;
}

.tauthor {
    font: 600 19px/24px 'Noto Sans Bengali', Arial, Helvetica, sans-serif;;
    color: #349dee;
}

.tdate {
    margin-top: 2px;
    color: #fff;
    font: 500 10px/16px 'Noto Sans Bengali', Arial, Helvetica, sans-serif;;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.title_block_texts div {
    background: transparent !important;
}



.lead_text {
    color: #565d6d;
}

#top {
    height: 120px;
    background: transparent;
    width: 100%;
}

#topwrap {
    height: 80px;
    max-width: 1000px;
    margin: 0 auto;
    background: transparent;
}

.topleft {
    height: 80px;
    width: 740px;
    float: left;
    position: relative;
    margin-left: 10px;
}

.toplogo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    cursor: pointer;
}

.topdate {
    /* position: absolute;
    top: 25px;
    left: 500px; */
    font-size: 12px;
    line-height: 20px;
    color: #96a0a8;
}

#bodyWrapper {
    max-width: 1000px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

#mainWrapper {
    width: 100%;
    height: 100%;
}

#wrapper {
    max-width: 1000px;
    margin: 0px auto;
}

#content {
    padding: 0px;
    text-align: left;
    width: 100%;
}

#content .padWrap {
    padding: 15px;
}

#content img:not(.features-wrapper img, .coment_ava img) {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

#content p {
    font-size: 18px;
    line-height: 29px;
}

.pg {
    font-size: 22px !important;
    line-height: 36px !important;
    margin-bottom: 33px;
}

#content h1 {
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
}

#content h2 {
    font-family: 'Noto Sans Bengali', Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-bottom: 33px;
    line-height: 32px;
}

#content h3 {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 33px;
}

#content ul li span {
    display: block;
    font-size: 16px;
    color: gray;
    font-weight: normal;
    line-height: 20px;
}


#content ul {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

#content ul li {
    margin-bottom: 20px;
}


#comments .pg {
    font-size: 14px !important;
    line-height: 30px !important;
}

#comments h2 {
    color: #000;
    border-bottom: 0px solid;
    border-color: #000;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#comments .item {
    text-align: left;
    padding: 10px;
    margin: 10px 0px;
    min-height: 80px;
    border-bottom: 1px dashed #05519d;
}

#comments .item :last-child {
    border-bottom: none;
}

#comments .item .info {}

#comments .coment_ava {
    float: left;
    margin-right: 15px;
}

#comments .coment_ava img {
    margin: 0px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.randdate{
    display: inline-block;
    color: #a3b0b9;
    font-weight: normal;
    font-size: 13px; 
}

@media screen and (max-width: 1020px) {

    #content {
        width: 100%;
    }
}

@media screen and (max-width: 840px) {
    .topdate {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .topleft {
        width: 100%;
    }
}

@media screen and (max-width: 690px) {
    .topleft {
        width: 100%;
    }
}

@media screen and (max-width: 660px) {

    #content h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .mainLogo {
        width: 400px;
        
    }
}

@media screen and (max-width: 590px) {
    .mainLogo {
        width: 300px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 560px) {

    /*
	#top {display:none;}
	
	*/

    .pg {
        margin-left: 0px;
        margin-right: 0px;
    }

    #content .padWrap {
        padding: 8px;
    }
}

@media screen and (max-width: 520px) {

    /*
	#top {display:none;}
	
	*/
}

@media screen and (max-width: 420px) {

    .title_bq {
        font-size: 18px !important;
        line-height: 28px !important;
    }

    .tauthor {
        font-size: 14px;
    }
}

@media screen and (max-width: 470px) {
    .mainLogo {
        width: 200px;
    }

    #top {
        height: 80px;
    }
}

@media screen and (max-width: 380px) {
    .mainLogo {
        width: 180px;
    }
}

@media screen and (max-width: 345px) {
    .mainLogo {
        width: 150px;
    }
}

@media screen and (max-width: 310px) {
    .mainLogo {
        display: none;
    }

    #top {
        background-position: top center;
    }
}

@media screen and (min-width: 1300px) {

    #wrapper {
        max-width: 1000px;
    }

    #content {
        width: 100%;
    }

    #topwrap {
        max-width: 1000px;
    }
}

@media screen and (min-width: 1600px) {

    #wrapper {
        max-width: 1000px;
    }

    #content {
        width: 100%;
    }

    #topwrap {
        max-width: 1000px;
    }
}

a:active,
a:focus {
    outline: none;
}

input {
    outline: none;
}

input:active {
    outline: none;
}

:focus {
    outline: none;
}

button:active,
button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}

#footer {
    padding: 10px;
    text-align: center;
}
#footer img{
    cursor: pointer;
    
}
@media (max-width:575px){
    #footer img{
        max-width:300px;
    }
}
@media (max-width:375px){
    #footer img{
        max-width:250px;
    }
}
.Figure img{
    display: block;
    margin: 0 auto;
    float: none;
}

.bg_mm {
    background-color: antiquewhite;
    text-align: center;
}

.c2 {
    width: 50%;
}


@media all and (max-width: 767px) {
  .cenz::after {
    background-size: 30% auto;
  }
}

.cenz::after * {
  visibility: hidden;
}

.cenz-show::after {
  display: none;
}

@media(max-width: 992px) {
    .row-y-item {
        display: none;
    } 
    
    .wap {
        display: block;
    }
}

a {
    font-weight: bold;
    text-decoration: none;
    color: green;
}

a:hover,
a:focus {
    cursor: pointer;
    text-decoration: underline;
}

.vk-comment-name a {
    color: inherit !important;
    text-decoration: none !important;
}

input[value="Получить бесплатно"], .submit-roulette {
    text-transform: uppercase;
    box-shadow: rgb(36, 33, 32) 0px 4px 3px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    max-width: 300px;
    padding: 10px 20px;
    margin: 5px 0px 15px;
    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 5px;
    background: red;
    transition: background 0.3s ease 0s;
    text-decoration: none !important;
    display: block;
}

.submit-roulette:hover {
    background: rgb(187, 0, 0);
    transition: background 0.3s ease 0s;
}