body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.wrap {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

.row {
  font-size: 0;
}

.col-1 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 18px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  position: relative;
  z-index: 10;
  display: block;
  width: 360px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  background: rgb(201, 57, 50);
  background: -moz-linear-gradient(top, rgba(201, 57, 50, 1) 0%, rgba(201, 57, 50, 1) 50%, rgba(201, 57, 50, 1) 50%, rgba(185, 51, 45, 1) 51%, rgba(185, 51, 45, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(201, 57, 50, 1) 0%, rgba(201, 57, 50, 1) 50%, rgba(201, 57, 50, 1) 50%, rgba(185, 51, 45, 1) 51%, rgba(185, 51, 45, 1) 100%);
  background: linear-gradient(to bottom, rgba(201, 57, 50, 1) 0%, rgba(201, 57, 50, 1) 50%, rgba(201, 57, 50, 1) 50%, rgba(185, 51, 45, 1) 51%, rgba(185, 51, 45, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93932', endColorstr='#b9332d', GradientType=0);
  -webkit-box-shadow: inset 0px -10px 0px 0px rgba(147, 18, 13, 1);
  -moz-box-shadow: inset 0px -10px 0px 0px rgba(147, 18, 13, 1);
  box-shadow: inset 0px -10px 0px 0px rgba(147, 18, 13, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.button:before,
.button:after {
  position: absolute;
  z-index: -1;
  content: "";
  bottom: 15px;
  left: 10px;
  /*top: 80%;*/
  max-width: 300px;
  width: 46%;
  background: #000;
  -webkit-box-shadow: 0 20px 20px 3px #000;
  -moz-box-shadow: 0 20px 20px 3px #000;
  box-shadow: 0 20px 20px 3px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.button:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.button:hover {
  color: #a9c612;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.circle {
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  height: 210px;
  line-height: 210px;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  background: #cf423b;
  background: -moz-linear-gradient(-65deg, #cf423b 0%, #cf423b 40%, #a21a14 45%, #a21a14 100%);
  background: -webkit-linear-gradient(-65deg, #cf423b 0%, #cf423b 40%, #a21a14 45%, #a21a14 100%);
  background: linear-gradient(150deg, #cf423b 0%, #cf423b 40%, #a21a14 45%, #a21a14 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf423b', endColorstr='#a21a14', GradientType=1);
}

.circle__inner {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

.circle__old-price {
  color: #000;
  font-weight: 400;
  text-decoration: line-through;
}

.invisible {
  display: none;
}


/*HEADER*/

.header {
  position: relative;
  background: rgb(96, 175, 234);
  background: -moz-radial-gradient(center, ellipse cover, rgba(96, 175, 234, 1) 20%, rgba(24, 101, 153, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 175, 234, 1) 20%, rgba(24, 101, 153, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(96, 175, 234, 1) 20%, rgba(24, 101, 153, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60afea', endColorstr='#186599', GradientType=1);
  color: #fff;
}

.header__water-1 {
  position: absolute;
  left: 0;
  top: 100px;
}

.header__water-2 {
  position: absolute;
  right: -60px;
  top: -60px;
  -webkit-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  transform: rotate(145deg);
}

.header .col-1 {
  vertical-align: bottom;
}

.header .col-1:nth-child(2) {
  text-align: center;
}

.header__title {
  margin: 0;
  font-size: 30px;
}

.header__text {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 15px;
}

.header__product-name {
  font-family: 'Lobster';
  color: #176496;
  font-size: 55px;
}

.header__product {
  display: inline-block;
  vertical-align: middle;
}


/*HEADER SLIDER*/

.fwrap {
  width: 100%;
  height: 595px;
  position: relative;
  z-index: 2;
}

.wrapimg {
  width: 490px;
  height: 595px;
  position: absolute;
  bottom: 0;
  left: -50px;
  overflow: hidden;
  background: url('../img/header_before.png') 0 0%;
}

.wrapimg1 {
  width: 490px;
  height: 0px;
  position: absolute;
  top: -6px;
  left: -59px;
  overflow: hidden;
  border-bottom: 5px solid #fff;
  z-index: 999;
  background: url('../img/header_after.png') 0 0;
}

.textimg {
  position: absolute;
  top: 50px;
  left: 40px;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
}


/*SLIDE2*/

.slide2 {
  position: relative;
  z-index: 3;
  background: url('../img/green-bg.jpg')no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: -60px;
  font-style: italic;
  padding-bottom: 50px;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 75%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 75%);
}

.slide2 .wrap {
  padding-top: 70px;
}

.slide2__left-text {
  position: relative;
  padding-left: 110px;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 800;
  color: #023c6e;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slide2__left-text::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 97px;
  height: 93px;
  background: url('../img/slide2__time.png')no-repeat center center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slide2__list {
  font-weight: 700;
  font-size: 26px;
  color: #fff;
  padding: 0;
  margin: 0;
}

.slide2__item {
  position: relative;
  list-style: none;
  padding-left: 90px;
  margin-bottom: 30px;
}

.slide2__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 87px;
  height: 71px;
  background: url('../img/slide2__list.png')no-repeat center center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*SLIDE3*/

.slide3 {
  position: relative;
  overflow: hidden;
}

.slide3__water {
  position: absolute;
  left: -150px;
  top: 90px;
}

.slide2__water--right {
  left: auto;
  right: -200px;
  transform: rotate(140deg)
}

.slide3 .wrap {
  padding-bottom: 100px;
}

.slide3__title {
  text-transform: uppercase;
  color: #023c6e;
  font-weight: 800;
  font-size: 72px;
  text-align: center;
  font-family: 'Lobster';
}

.slide3__text {
  font-size: 23px;
  text-align: center;
}

.slide3__women {
  position: absolute;
  width: 400px;
  z-index: 2;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slide3__ctn-water {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}

.slide3__subtitle {
  margin-bottom: 70px;
  text-align: center;
  font-weight: 800;
  font-style: italic;
  color: #9ab708;
  font-size: 28px;
}

.slide3__list {
  position: relative;
  z-index: 4;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide3__item {
  position: relative;
  font-size: 24px;
  color: #9ab708;
  padding-right: 170px;
  padding-left: 65px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slide3__item:nth-child(even) {
  text-align: right;
  padding-right: 65px;
  padding-left: 200px;
}

.slide3__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 59px;
  height: 59px;
  background: url('../img/slide3__item1.png')no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slide3__item:nth-child(even)::before {
  left: auto;
  right: 0;
}

.slide3__item:nth-child(3)::before {
  background: url('../img/slide3__item3.png')no-repeat center center;
}

.slide3__item:nth-child(4)::before {
  background: url('../img/slide3__item4.png')no-repeat center center;
}

.slide3__item:nth-child(5)::before {
  background: url('../img/slide3__item5.png')no-repeat center center;
}

.slide3__item:nth-child(6)::before {
  background: url('../img/slide3__item6.png')no-repeat center center;
}


/*SLIDE4*/

.slide4 {
  position: relative;
  z-index: 4;
  background: url('../img/green-bg.jpg')no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 70px;
}

.slide4__col {
  width: 500px;
  margin: 0 auto;
}

.slide4__title {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 34px;
  color: #023c6e;
}

.slide4__product {
  display: inline-block;
  vertical-align: middle;
}

.slide4__text {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.slide4__prod-name {
  color: #fff;
  font-size: 24px;
}

.slide4__descr {
  font-size: 30px;
  font-weight: 700;
  color: #023c6e;
  font-style: italic;
}

.slide4__descr div {
  font-size: 18px;
  font-style: normal;
}

.slide4__list {
  padding: 30px;
  margin: 0;
  font-size: 16px;
  list-style: none;
  background-color: #fff;
  border-radius: 50px;
  margin-top: -20px;
}

.slide4__list-title {
  font-weight: 800;
  margin-bottom: 20px;
}

.slide4__item {
  position: relative;
  padding-left: 13px;
  margin-bottom: 15px;
}

.slide4__item::before {
  content: '';
  background: url('../img/slide4__list.png')no-repeat center center;
  width: 8px;
  height: 11px;
  position: absolute;
  top: 5px;
  left: 0;
}


/*SLIDE5*/

.slide5 {
  background: url('../img/slide5.jpg')no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-bottom: 100px;
}

.slide5__title {
  text-align: center;
  color: #023c6e;
  font-size: 44px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.slide5__item {
  display: inline-block;
  vertical-align: top;
  width: 390px;
  height: 390px;
  padding: 30px;
  background: url('../img/slide5__item-bg.png')no-repeat center center;
  -webkit-background-size: contain;
  background-size: contain;
  text-align: center;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.5s;
  cursor: default;
}

.slide5__item:nth-child(1) {
  margin-right: 20px;
}

.slide5__item:nth-child(3) {
  margin-left: 20px;
}

.slide5__item:nth-child(4) {
  margin-right: -15px;
}

.slide5__item:nth-child(5) {
  margin-left: -15px;
}

.slide5__item:hover {
  position: relative;
  z-index: 2;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.slide5__item-title {
  color: #023c6e;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide5__item-text {
  color: #000;
}

.slide5__item-image {
  max-width: 100%;
}

.slide5__product {
  max-width: 100%;
  margin-top: 50px;
}


/*SLIDE6*/

.slide6 {
  background: url('../img/green-bg.jpg')no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 20%, 100% 80%, 0 100%);
  padding: 70px 0;
  margin-top: -100px;
  margin-bottom: -100px;
}

.slide6__title {
  margin: auto;
  margin-bottom: 40px;
  font-size: 26px;
  color: #023c6e;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  width: 700px;
}

.slide6__title span {
  color: #b9332d;
}

.slide6__item {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}


/*SLIDE7*/

.slide7 {
  background: url('../img/slide7.jpg')no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 100px;
}

.slide7__title {
  text-transform: uppercase;
  text-align: center;
  color: #023c6e;
  font-weight: 800;
  font-size: 38px;
}

.slide7__subtitle {
  text-align: center;
  color: #2c5a83;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.slide7__doctor {
  position: relative;
  background: #F5F3F0;
  font-style: italic;
  padding: 20px;
  padding-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 7px 6px 20px 0px rgba(0, 0, 0, 0.5);
}

.slide7__doctor-photo {
  width: 200px;
  vertical-align: bottom;
  margin-left: 20px;
}

.slide7__text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 600px;
  font-size: 18px;
  margin-left: 70px;
}

.slide7__text::before {
  content: '';
  position: absolute;
  left: -50px;
  top: -10px;
  background: url('../img/doc-text.png')no-repeat center center;
  width: 50px;
  height: 36px;
}

.slide7__text::after {
  content: '';
  position: absolute;
  right: -50px;
  bottom: -10px;
  background: url('../img/doc-text.png')no-repeat center center;
  width: 50px;
  height: 36px;
}

.slide7__name {
  color: #2c5a83;
  font-weight: 700;
}

.slide7__bottom {
  color: #2c5a83;
  margin-bottom: 30px;
}

.slide7__stamp {
  position: absolute;
  bottom: 10px;
  right: 110px;
  opacity: 0.6;
  width: 130px;
  height: 130px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}


/*SLIDE8*/

.slide8__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #2c5a83;
  font-weight: 700;
  margin-bottom: 20px;
}

.slide8__item-left {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-left: 100px;
  margin-right: 20px;
  font-size: 18px;
}

.slide8__item-left img {
  max-width: 100%;
}

.slide8__item-right {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  font-size: 18px;
  font-style: italic;
}

.slide8__name {
  color: #325f86;
  font-size: 18px;
  font-style: italic;
}

.lSAction>a {
  opacity: 1;
  background: none;
  margin-top: 0;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}

.custom-next-html,
.custom-prev-html {
  display: block;
  width: 35px;
  height: 63px;
  background: url('../img/slider-right.png')no-repeat 0 0;
}

.custom-prev-html {
  -webkit-transform: scale(-1, -1);
  -moz-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.custom-next-html:hover,
.custom-prev-html:hover {
  background-position: 0 -63px;
}


/*SLIDE9*/

.slide9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background: rgb(96, 175, 234);
  background: -moz-radial-gradient(center, ellipse cover, rgba(96, 175, 234, 1) 20%, rgba(24, 101, 153, 1) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 175, 234, 1) 20%, rgba(24, 101, 153, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(96, 175, 234, 1) 20%, rgba(24, 101, 153, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60afea', endColorstr='#186599', GradientType=1);
  overflow: hidden;
}

.slide9__water {
  position: absolute;
  top: 50px;
  right: -230px;
  transform: scale(-1, 1);
}

.slide9__left {
  position: relative;
  z-index: 3;
  width: 600px;
}

.slide9__title {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 700;
  width: 50%;
}

.form {
  position: relative;
  padding-top: 20px;
  background: #B6CD25;
  width: 560px;
  height: 560px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

.form__title {
  width: 270px;
  color: #204c78;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__title span {
  font-size: 20px;
  color: #93120d;
}

.form__select {
  background-image: url('../img/customselect.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input,
.form__select {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 270px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: #fff;
}

.button--form {
  width: 270px;
  margin-bottom: 30px;
}

.form__product {
  position: absolute;
  bottom: 70px;
  right: -60px;
}

.circle--form {
  position: absolute;
  top: 0;
  right: -70px;
  color: #fff;
}

.form__bottom {
  color: #024c7d;
  text-align: center;
}

.slide9__women {
  z-index: 2;
  position: absolute;
  right: -130px;
  bottom: -30px;
}

.form__price {
  text-align: center;
}

.form__old-price {
  text-decoration: line-through;
}

.form__new-price {
  font-weight: 700;
  font-size: 24px;
}


/*TIMER*/

.timer-wr {
  width: 175px;
  height: 54px;
  margin: 0 auto;
  margin-top: 3px;
}

.is-countdown {
  width: 175px;
  height: 70px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.countdown-rtl {
  direction: rtl;
}

.countdown-holding span {
  color: #888;
}

.countdown-row {
  clear: both;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.countdown-show1 .countdown-section {
  width: 98%;
}

.countdown-show2 .countdown-section {
  width: 48%;
}

.countdown-show3 .countdown-section {
  width: 57px;
  position: relative;
}

.countdown-show3 .countdown-section:first-child {
  margin-left: 0 !important;
}

.countdown-show3 .countdown-section.slvzr-first-child {
  margin-left: 0 !important;
}

.countdown-show4 .countdown-section {
  width: 24.5%;
}

.countdown-show5 .countdown-section {
  width: 19.5%;
}

.countdown-show6 .countdown-section {
  width: 16.25%;
}

.countdown-show7 .countdown-section {
  width: 14%;
}

.countdown-section {
  display: block;
  float: left;
  text-align: center;
  color: #fff;
}

.countdown-amount {
  font-size: 24px;
  font-weight: 700;
  width: 54px;
  height: 54px;
  display: block;
  line-height: 54px;
  color: #023c6e;
  border-radius: 10px;
  border: 1px solid #024c7d;
}

.countdown-period {
  display: block;
  font-size: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  color: #023c6e;
}

.countdown-descr {
  display: block;
  width: 100%;
}