@media (min-width: 1921px) {
  .present {
    -webkit-background-size: cover;
    background-size: cover;
  }
}

@media (max-width: 1440px) {
  .order:before, .order:after {
    width: 52%;
  }
}

@media (max-width: 990px) {
  .container {
    width: 768px;
  }

  .present__decore:after {
    left: 0;
    margin: 0 0 0 -100px;
    height: 115px;
  }

  .present__text {
    font-size: 42px;
  }

  .present__discount {
    font-size: 26px;
  }

  .logo:before {
    width: 350px;
    height: 95px;
  }

  .promo {
    padding: 50px 0;
  }

  .promo__wrap,
  .promo__cell {
    display: block;
  }

  .promo__text {
    padding: 0 0 30px;
  }

  .promo__decore {
    top: 0;
    margin: -50px 0 0 -260px;
  }

  .promo__video video {
    width: 100%;
  }

  .advantages {
    padding: 50px 0;
  }

  .advantages__wrap {
    padding: 30px 0 80px;
  }

  .advatages__text {
    font-size: 18px;
  }

  .order:before, .order:after {
    width: 53%;
  }

  .order__wrap {
    padding: 0 0 0 300px;
  }

  .order__text {
    padding: 15px 50px 25px 0;
  }

  .form__field:not(.form__field_mod) {
    margin: 10px 15px 0 0;
  }

  .form__field:nth-child(3) {
    margin: 0;
  }

  .price__new {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }

  .present {
    padding: 50px 0;
  }

  .logo:before {
    margin: 0 auto;
  }

  .present__wrap {
    width: auto;
    margin: 0;
  }
  
  .present__discount {
   margin-top: 50px; 
  }

  .present__text:before {
    left: auto;
    right: 0;
    width: 140px;
  }

  .present__text:after {
    left: 90%;
    margin: 60px 0 0 -60px;
  }

  .present__text p {
    width: 60%;
    margin: 0 0 0 auto;
  }

  .product {
    right: auto;
    left: 0;
    width: 250px;
  }

  .present__discount {
    text-align: center;
  }

  .timer {
    padding: 15px 0 30px;
    font-size: 21px;
    text-align: center;
  }

  .timer__item {
    width: 65px;
  }

  button {
    margin: 0 auto;
  }

  .promo__title {
    font-size: 30px;
  }

  .promo__decore {
    width: 400px;
    height: 430px;
    margin: -20px 0 0 -70px;
  }

  .advantages__wrap {
    padding: 0 0 20px;
  }

  .advantages__item {
    width: 230px;
    margin: 60px 10px;
  }

  .advantages__subtext {
    font-size: 18px;
  }

  .description {
    padding: 50px 0;
  }

  .description:after {
    background-position: 0;
  }

  .description__wrap {
    width: 85%;
  }

  .description__item {
    padding: 15px 0;
  }

  .description__leaf_03 {
    bottom: auto;
    top: 0;
  }

  .order {
    background-position: center;
    padding: 50px 0 80px;
  }

  .order__wrap {
    padding: 0;
  }

  .order__text {
    padding: 10px 0;
    max-width: 300px;
    margin: 0 auto;
  }

  .order__text:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    width: 220px;
    height: 200px;
    margin: 0 -50px 0 0;
  }

  .order__text:before {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    margin: 0 -20px 100px 0;
    width: 130px;
    height: 170px;
    background-position: top center;
  }

  .product_mod {
    position: relative;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    width: 230px;
    margin: 0 0 0 -30px;
  }

  form {
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
  }

  .form__field,
  .form__field:not(.form__field_mod) {
    margin: 0 0 10px;
    display: block;
    width: auto;
  }

  .price {
    padding: 10px 0;
  }

  .price__old {
    font-size: 16px;
  }

  .price__new {
    font-size: 23px;
  }

  .order__decore:after {
    right: 40%;
  }

}

@media (max-width: 540px) {
  .present__text {
    font-size: 28px;
  }
  
  .present__discount {
   margin-top: 15px; 
  }

  .present__decore:before {
    width: 210px;
    height: 130px;
    margin: -40px -20px 0 0;
  }

  .product {
    width: 180px;
    margin: -20px 0 0;
  }

  .present__text p {
    padding: 30px 0 0;
  }

  .present__text:before {
    -webkit-background-size: 80%;
    background-size: 80%;
    margin: -75px -40px 0 0;
  }

  .present__text:after {
    display: none;
  }

  .advantages__item {
    width: 160px;
    margin: 25px 5px;
  }

  .advantage__layer {
    margin: 15px 0 0;
  }

  .advatages__text {
    font-size: 14px;
  }

  .advatages__text:before {
    -webkit-background-size: 70%;
    background-size: 70%;
    background-position: center bottom;
  }

  .description__wrap {
    padding: 0;
  }

  .description:after {
    background-position: 10% 0;
  }

  .description__title {
    font-size: 26px;
  }

  .order:before, .order:after {
    width: 51%;
    right: -20px;
  }

  .comments {
    padding: 25px 0 35px;
  }

  .comments__title {
    font-size: 22px;
  }

  .comments__wrap {
    padding: 0 0 0 65px;
  }

  .comments__name {
    font-size: 18px;
  }

  .comments__date,
  .comments__text {
    font-size: 14px;
  }

  .comments__avatar {
    width: 50px;
  }
}

@media (max-width: 375px) {

  .logo:before {
    width: 300px;
    height: 85px;
  }

  .present__text {
    font-size: 22px;
  }

  .present__text p {
    width: 55%;
    position: relative;
    z-index: 1;
  }

  .product {
    margin: -10px 0 0 -20px;
  }

  .present__decore:before {
    width: 160px;
  }

  .present__discount {
    font-size: 20px;
  }

  .promo {
    padding: 30px 0;
  }

  .promo__title {
    font-size: 22px;
    padding: 0 0 10px;
  }

  .promo__title span {
    display: block;
  }

  .advantages {
    padding: 30px 0;
  }

  .advantages__item {
    width: 140px;
    margin: 15px 0;
  }

  .description__wrap {
    width: auto;
  }

  .order__decore:before {
    width: 210px;
    height: 145px;
  }
}