@charset "UTF-8";

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeueRegular.eot);
    src: url(../fonts/BebasNeueRegular.eot?#iefix) format('embedded-opentype'), url(../fonts/BebasNeueRegular.svg#BebasNeueRegular) format('svg'), url(../fonts/BebasNeueRegular.ttf) format('truetype'), url(../fonts/BebasNeueRegular.woff) format('woff'), url(../fonts/BebasNeueRegular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeueBold.eot);
    src: url(../fonts/BebasNeueBold.eot?#iefix) format('embedded-opentype'), url(../fonts/BebasNeueBold.svg#BebasNeueBold) format('svg'), url(../fonts/BebasNeueBold.ttf) format('truetype'), url(../fonts/BebasNeueBold.woff) format('woff'), url(../fonts/BebasNeueBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal
}

.s__main * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.s__main :after,
.s__main :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    height: 100%
}

body {
    font-size: 16px;
    line-height: 1.4;
    font-family: Montserrat, sans-serif;
    background-color: #090909
}

h1,
h2,
h3,
h4 {
    font-family: BebasNeue;
    font-weight: 700
}

h1 {
    font-size: 88px;
    line-height: .9;
    color: #f7ba00;
    text-shadow: 2px 0 5px rgba(0, 0, 0, .95), 0 2px 5px rgba(0, 0, 0, .95)
}

h2 {
    font-size: 50px;
    line-height: 1.1
}

.container {
    position: relative;
    overflow-x: hidden;
    opacity: 1
}

.limit {
    position: relative;
    display: block;
    max-width: 974px;
    width: 100%;
    margin: 0 auto
}

.s__main img {
    display: block;
    max-width: 100%;
    height: auto
}

.mob-visible {
    display: none !important
}

.btn {
    position: relative;
    display: block;
    text-align: center;
    font-size: 34px;
    letter-spacing: 2px;
    font-family: BebasNeue;
    font-weight: 700;
    color: #fff;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px rgba(225, 52, 24, .7);
    box-shadow: 0 0 20px rgba(225, 52, 24, .7);
    background: url(../img/btn.png) no-repeat center;
    background-size: cover;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    cursor: pointer;
    z-index: 10
}

.btn:hover {
    background: url(../img/btn-hover.png) no-repeat center;
    background-size: cover
}

.first-block {
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover
}

.first-block .block-content {
    padding: 80px 0 45px;
    background: url(../img/women-top.png) no-repeat center -20px
}

.first-block .block-content .title {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-top: 140px
}

.first-block .block-content .title h1 img {
    display: inline-block
}

.first-block .block-content .title p {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    width: 60%;
    margin-top: 25px;
    text-shadow: 2px 0 5px rgba(0, 0, 0, .95), 0 2px 5px rgba(0, 0, 0, .95)
}

.product-wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 8%
}

.product-wrapper .btn {
    margin-top: 25px
}

.price {
    text-align: center;
    font-family: BebasNeue;
    font-weight: 700
}

.form .price {
    padding-bottom: 20px
}

.price .old-price {
    font-size: 22px;
    line-height: 1;
    color: #a80000
}

.first-old-price {
    font-size: 36px !important
}

.price .new-price {
    font-size: 36px;
    line-height: 1;
    color: #f7ba00;
    margin-top: 2px
}

.first-new-price {
    font-size: 70px !important
}

.top-line .logo {
    position: relative;
    padding: 55px 0 25px;
    text-align: center
}

.top-line .logo:after,
.top-line .logo:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 155px;
    height: 135px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.top-line .logo:before {
    background: url(../img/garanty.png) no-repeat center;
    background-size: contain;
    left: 155px
}

.top-line .logo:after {
    background: url(../img/badge.png) no-repeat center;
    background-size: contain;
    right: 0
}

.top-line .logo span {
    font-size: 12px;
    font-weight: 700;
    display: block;
    max-width: 400px;
    margin: 5px auto;
    text-transform: uppercase;
    color: #aaacb3
}

.top-line .logo img {
    margin: 0 auto 5px
}

.logo__text {
    font-size: 55px;
    font-weight: 100;
    text-transform: uppercase;
    color: red;
    text-align: center
}

.product {
    padding-top: 20px;
    position: relative
}

.product:before {
    content: '';
    position: absolute;
    background: url(../img/flame-before.png) no-repeat center;
    width: 396px;
    height: 327px;
    z-index: 3;
    bottom: -210px;
    left: 56%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.product:after {
    content: '';
    position: absolute;
    background: url(../img/flame-after.png) no-repeat center;
    width: 379px;
    height: 464px;
    z-index: 1;
    bottom: -277px;
    left: 64%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.product img {
    margin: 0 auto;
    z-index: 2;
    position: relative;
    height: 450px;
}

.dividing-line {
    background: url(../img/bottom-bg.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 7
}

.dividing-line.with-result {
    overflow: hidden
}

.dividing-line.with-result .order-content {
    width: 500px;
    margin: 0 auto
}

.dividing-line.with-result .order-content:before {
    content: '';
    position: absolute;
    top: -50px;
    left: -310px;
    background: url(../img/result-before.png) no-repeat center;
    width: 351px;
    height: 351px
}

.dividing-line.with-result .order-content:after {
    content: '';
    position: absolute;
    top: -50px;
    right: -315px;
    background: url(../img/result-after.png) no-repeat center;
    width: 351px;
    height: 351px
}

.order-content {
    position: relative;
    text-align: center;
    padding: 40px 0
}

.order-content span {
    font-size: 26px;
    font-weight: 700;
    color: #a80000
}

.order-content p {
    font-size: 26px;
    max-width: 440px;
    margin: 0 auto;
    font-weight: 700
}

.order-content .btn {
    margin-top: 10px
}

.tizers {
    padding: 50px 0 20px;
    font-size: 0
}

.tizers .tizers__item {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    text-align: center
}

.tizers .tizers__item img {
    margin: 0 auto
}

.tizers .tizers__item p {
    width: 80%;
    margin: 15px auto;
    font-size: 14px;
    font-weight: 700
}

.second-block {
    background: url(../img/bg2.jpg) no-repeat center;
    background-size: cover
}

@-webkit-keyframes reelUp {
    0% {
        height: 0;
        opacity: 0
    }

    50% {
        height: 100%;
        opacity: 1
    }

    65% {
        height: 97%;
        opacity: 1
    }

    68% {
        height: 98%;
        opacity: 1
    }

    100% {
        height: 98%;
        opacity: 0
    }
}

@keyframes reelUp {
    0% {
        height: 0;
        opacity: 0
    }

    50% {
        height: 100%;
        opacity: 1
    }

    65% {
        height: 97%;
        opacity: 1
    }

    68% {
        height: 98%;
        opacity: 1
    }

    100% {
        height: 98%;
        opacity: 0
    }
}

.reelUp {
    -webkit-animation: reelUp 2.5s ease-in-out;
    animation: reelUp 2.5s ease-in-out
}

.meterage-wrapper {
    padding: 50px 0 0
}

.meterage-wrapper .title {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    color: #f7ba00;
    text-align: center;
    width: 600px;
    margin: 0 auto
}

.meterage-wrapper .meterage {
    background: url(../img/lines.png) no-repeat center 60%;
    background-size: contain;
    font-size: 0;
    padding-top: 30px;
    margin-bottom: -20px
}

.meterage-wrapper .meterage .meterage__item {
    position: relative;
    width: 25%;
    display: inline-block;
    vertical-align: bottom;
    text-align: center
}

.meterage-wrapper .meterage .meterage__item .reel-wrapper {
    position: absolute;
    bottom: 100px;
    left: 90px;
    z-index: 11;
    width: 67px;
    height: 548px;
    overflow: hidden;
    opacity: 0
}

.meterage-wrapper .meterage .meterage__item .reel-wrapper .reel {
    position: absolute;
    top: 45px;
    width: 67px;
    height: 125px;
    background: url(../img/reel.png) no-repeat center top;
    background-size: contain
}

.meterage-wrapper .meterage .meterage__item .reel-wrapper .scale {
    position: absolute;
    bottom: 0;
    left: 11px;
    z-index: -1;
    width: 30px;
    height: 72%;
    background: url(../img/scale2.png) no-repeat center bottom
}

.meterage-wrapper .meterage .meterage__item .after-img {
    position: absolute;
    z-index: 8
}

.meterage-wrapper .meterage .meterage__item .after-img.after-one {
    bottom: 0;
    left: -30px
}

.meterage-wrapper .meterage .meterage__item .after-img.after-two {
    bottom: 10px;
    left: -80px
}

.meterage-wrapper .meterage .meterage__item .before-img {
    position: absolute;
    bottom: -170px;
    left: -100px;
    max-width: 346px;
    z-index: 11
}

.meterage-wrapper .meterage .meterage__item .main-img {
    margin: 0 auto;
    position: relative;
    z-index: 10
}

.meterage-wrapper .meterage .meterage__item .description {
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px
}

.meterage-wrapper .meterage .meterage__item .description span {
    font-family: BebasNeue;
    font-size: 40px;
    color: #f7ba00;
    text-transform: uppercase
}

.meterage-wrapper .meterage .meterage__item .description p {
    color: #fff;
    font-size: 14px
}

.third-block {
    position: relative;
    background: url(../img/bg3.jpg) no-repeat center;
    background-size: cover
}

.third-block:after {
    content: '';
    background: url(../img/bottom-flame.png) repeat-x center;
    position: absolute;
    width: 100%;
    height: 311px;
    bottom: -70px;
    left: 0;
    z-index: 1
}

.list-wrapper {
    padding: 60px 0 0
}

.list-wrapper h2 {
    color: #f7ba00;
    text-align: center;
    letter-spacing: 2px
}

.list-wrapper .left-img {
    position: absolute;
    bottom: -20px;
    left: -153px;
    z-index: 3
}

.list-wrapper .list {
    position: relative;
    list-style-type: none;
    padding: 130px 0 125px;
    padding-left: 515px
}

.list-wrapper .list li {
    position: relative;
    padding-bottom: 90px
}

.list-wrapper .list li:nth-child(1):before {
    background: url(../img/numb1.png) no-repeat center;
    background-size: contain
}

.list-wrapper .list li:nth-child(3) {
    padding-bottom: 0
}

.list-wrapper .list li:nth-child(3):before {
    background: url(../img/numb3.png) no-repeat center;
    background-size: contain
}

.list-wrapper .list li:before {
    content: '';
    position: absolute;
    width: 141px;
    height: 125px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: -10px;
    left: 5px;
    background: url(../img/numb2.png) no-repeat center;
    background-size: contain;
    z-index: 4
}

.list-wrapper .list li p {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #6e7985;
    z-index: 5
}

.list-wrapper .list li p strong {
    display: block;
    font-size: 22px;
    color: #fff;
    margin-bottom: 5px
}

.fourth-block {
    position: relative;
    background: url(../img/bg4.png) no-repeat center;
    background-size: cover;
    z-index: 2
}

.advantage {
    padding: 65px 0 80px;
    width: 45%
}

.advantage h2 {
    color: #f7ba00;
    letter-spacing: 2px
}

.advantage .right-img {
    position: absolute;
    bottom: 20px;
    right: -140px;
    z-index: 3
}

.advantage .product-wrapper {
    position: absolute;
    bottom: 20px;
    left: 43%;
    z-index: 5
}

.advantage .list {
    position: relative;
    list-style-type: none;
    padding: 70px 0 50px;
    padding-left: 70px
}

.advantage .list li {
    position: relative;
    padding-bottom: 70px
}

.advantage .list li:nth-child(1):before {
    background: url(../img/list1.png) no-repeat center
}

.advantage .list li:nth-child(3) {
    padding-bottom: 0
}

.advantage .list li:nth-child(3):before {
    background: url(../img/list3.png) no-repeat center
}

.advantage .list li:before {
    content: '';
    position: absolute;
    width: 193px;
    height: 181px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 35px;
    left: -65px;
    background: url(../img/list2.png) no-repeat center;
    z-index: 4
}

.advantage .list li p {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #6e7985;
    z-index: 5
}

.advantage .list li p strong {
    display: block;
    font-size: 22px;
    color: #fff;
    margin-bottom: 5px
}

.fifth-block {
    position: relative;
    background: url(../img/bg5.png) no-repeat center;
    background-size: cover;
    margin-top: -10px
}

.review-wrapper {
    padding: 70px 0 35px
}

.review-wrapper .img-wrap {
    position: absolute;
    bottom: 0;
    left: 45%;
    max-width: 1343px;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1
}

.review-wrapper h2 {
    text-align: center;
    color: #a80000;
    letter-spacing: 2px
}

.review-wrapper p {
    font-size: 26px;
    font-weight: 700;
    width: 500px;
    margin: 20px auto;
    text-align: center
}

.review-wrapper .review-slider {
    position: relative;
    z-index: 2
}

.review-wrapper .review-slider .slick-next,
.review-wrapper .review-slider .slick-prev {
    top: 450px;
    z-index: 3
}

.review-wrapper .review-slider .slick-next {
    right: 210px;
    background: url(../img/next.png) no-repeat center;
    width: 78px;
    height: 66px
}

.review-wrapper .review-slider .slick-prev {
    left: 210px;
    background: url(../img/prev.png) no-repeat center;
    width: 78px;
    height: 66px
}

.review-wrapper .review-slider .slick-next:before,
.review-wrapper .review-slider .slick-prev:before {
    content: ''
}

.review-wrapper .review-slider .review__item {
    font-size: 0;
    outline: 0
}

.review-wrapper .review-slider .review__item .message {
    font-size: 18px;
    font-weight: 400;
    width: 380px;
    position: relative;
    z-index: 3
}

.review-wrapper .review-slider .review__item .photo-wrapper {
    margin: 35px auto;
    width: 490px;
    position: relative
}

.review-wrapper .review-slider .review__item .photo-wrapper .frame {
    position: absolute;
    width: 478px;
    height: 350px;
    top: -10px;
    left: 5px;
    background: url(../img/photo-wrapper.png) no-repeat center top;
    background-size: 100% 100%;
    z-index: 2
}

.review-wrapper .review-slider .review__item .author-info {
    position: relative;
    color: #6e7985;
    z-index: 3
}

.review-wrapper .review-slider .review__item .author-info .name {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0 0
}

.review-wrapper .review-slider .review__item .author-info ul {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
    list-style-type: none
}

.review-wrapper .review-slider .review__item .author-info ul li {
    display: inline-block
}

.review-wrapper .review-slider .review__item .author-info ul li:before {
    content: "•";
    color: #f7ba00;
    padding-right: 5px
}

.review-wrapper .review-slider .review__item .author-info ul li:first-child:before {
    display: none
}

.review-wrapper .review-slider .review__item .photo-after,
.review-wrapper .review-slider .review__item .photo-before {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: relative
}

.review-wrapper .review-slider .review__item .photo-after img,
.review-wrapper .review-slider .review__item .photo-before img {
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 1
}

.review-wrapper .review-slider .review__item .photo-after span,
.review-wrapper .review-slider .review__item .photo-before span {
    position: absolute;
    top: 15px;
    font-family: BebasNeue;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10
}

.review-wrapper .review-slider .review__item .photo-before {
    padding: 0 2px 0 10px
}

.review-wrapper .review-slider .review__item .photo-before span {
    right: 15px;
    color: #fff
}

.review-wrapper .review-slider .review__item .photo-after {
    padding: 0 10px 0 2px
}

.review-wrapper .review-slider .review__item .photo-after span {
    left: 15px;
    color: #f7ba00
}

.sixth-block {
    position: relative;
    background-size: cover;
    z-index: 2
}

.sixth-inner {
    padding: 65px 0 10px
}

.sixth-inner h2 {
    color: #f7ba00;
    text-align: center;
    width: 50%;
    margin: 0 auto
}

.sixth-inner>p {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px
}

.carousel-wrapper {
    max-width: 1920px;
    width: 100%;
    height: 400px;
    margin: 0 auto
}

#carousel {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-perspective: 250px;
    perspective: 250px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.item {
    width: 50%;
    text-align: center;
    display: block;
    position: absolute;
    height: 100%;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    opacity: .9;
    -webkit-transform: perspective(-200px);
    transform: perspective(-200px);
    outline: 0
}

.item.one {
    -webkit-transform: translateX(-30%) translateZ(-70px);
    transform: translateX(-30%) translateZ(-70px)
}

.item.two {
    -webkit-transform: translateX(50%) translateZ(0);
    transform: translateX(50%) translateZ(0)
}

.item.two .item__inner .cloud-message {
    opacity: 1
}

.item.three {
    -webkit-transform: translateX(130%) translateZ(-70px);
    transform: translateX(130%) translateZ(-70px)
}

.item.one,
.item.three {
    opacity: .5
}

.item__inner {
    position: relative;
    text-align: left
}

.item__inner .img-item {
    margin: 0 auto
}

.item__inner .cloud-message {
    opacity: 0;
    position: absolute;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .95);
    -webkit-transition: 1.3s ease all;
    transition: 1.3s ease all
}

.item__inner .cloud-message p {
    font-size: 22px
}

.item__inner .cloud-message ul {
    font-size: 14px;
    padding-left: 55px;
    list-style-type: none
}

.item__inner .cloud-message ul li:before {
    content: "•";
    color: #f7ba00;
    padding-right: 5px
}

.item:nth-child(1) .cloud-message {
    background: url(../img/cloud1.png) no-repeat center;
    background-size: contain;
    padding: 80px 10px 50px 30px;
    width: 276px;
    height: 188px;
    bottom: 41%;
    right: 150px
}

.item:nth-child(2) .cloud-message {
    background: url(../img/cloud2.png) no-repeat center;
    background-size: contain;
    padding: 40px 10px 50px 30px;
    width: 284px;
    height: 158px;
    bottom: 18%;
    right: 200px
}

.item:nth-child(3) .cloud-message {
    background: url(../img/cloud3.png) no-repeat center;
    background-size: contain;
    padding: 25px 10px 50px 30px;
    width: 288px;
    height: 157px;
    bottom: 22%;
    right: 150px
}

.seventh-block {
    position: relative;
    background: url(../img/bg7.png) no-repeat center -10px;
    background-size: cover;
    margin-top: -20px;
    z-index: 1
}

.seventh-block .dividing-line {
    margin-top: -80px;
    z-index: 1
}

.seventh-block .dividing-line .order-content {
    padding: 50px 0 45px
}

.magazine-wrapper {
    position: relative;
    padding: 85px 0 0;
    z-index: 5
}

.magazine-wrapper h2 {
    color: #a80000;
    width: 430px;
    margin: 0 auto;
    text-align: center
}

.magazine-wrapper .magazine {
    background: url(../img/magazine.png) no-repeat 20px top;
    background-size: contain;
    width: 960px;
    min-height: 750px
}

.magazine-wrapper .magazine .article-text {
    position: relative;
    padding: 80px 70px 110px;
    padding-left: 520px
}

.magazine-wrapper .magazine .article-text>p {
    font-size: 16px;
    margin: 10px 0
}

.magazine-wrapper .magazine .article-text .footer {
    margin-top: 50px
}

.magazine-wrapper .magazine .article-text .photo {
    position: absolute;
    top: 35px;
    right: 60px
}

.magazine-wrapper .magazine .article-text .author-info {
    display: block;
    margin: 60px 0 25px;
    padding: 7px 0;
    padding-left: 10px;
    padding-right: 23%;
    list-style-type: none;
    color: #6e7985;
    font-size: 12px;
    font-weight: 700;
    border-top: 1px solid #6e7985;
    border-bottom: 1px solid #6e7985
}

.magazine-wrapper .magazine .article-text .author-info li {
    display: inline-block
}

.magazine-wrapper .magazine .article-text .author-info li:before {
    content: "•";
    color: #f7ba00;
    padding-right: 5px
}

.magazine-wrapper .magazine .article-text .author-info li:first-child:before {
    display: none
}

.eighth-block {
    position: relative;
    background: url(../img/bg8.png) no-repeat center;
    background-size: cover;
    margin-top: -10px
}

.facebook-wrapper {
    padding: 70px 0 30px
}

.facebook-wrapper h2 {
    color: #f7ba00;
    width: 700px;
    letter-spacing: 1px;
    margin: 0 auto;
    text-align: center
}

.facebook-wrapper .facebook-comments {
    font-size: 0;
    max-width: 980px;
    width: 100%;
    margin: 50px 0;
    padding: 80px 15px 15px;
    background: url(../img/facebook-frame.png) no-repeat center;
    background-size: contain
}

.facebook-wrapper .facebook-comments .comments-side {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 470px;
    overflow-y: scroll;
    padding: 5px 15px
}

.facebook-wrapper .facebook-comments .comments-side .comment {
    margin-top: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cad1e0
}

.facebook-wrapper .facebook-comments .comments-side .comment .avatar {
    width: 60px;
    float: left
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body {
    padding-left: 70px
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-name {
    font-size: 11px;
    font-weight: 700;
    color: #3b5997
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-text {
    font-size: 12px;
    padding-top: 5px
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-bottom {
    font-size: 10px;
    color: #616770;
    padding-top: 10px
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-bottom .date {
    display: inline-block
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-bottom .join {
    display: inline-block
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-bottom .like {
    float: right;
    position: relative;
    padding-right: 5px
}

.facebook-wrapper .facebook-comments .comments-side .comment .comment-body .comment-bottom .like:before {
    content: '';
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: -15px;
    width: 18px;
    height: 18px;
    background: url(../img/like.png) no-repeat center;
    background-size: contain
}

.ninth-block {
    position: relative;
    background: url(../img/bg9.jpg) no-repeat center;
    background-size: cover;
    padding: 15px 0 60px;
    overflow: hidden
}

.ninth-block .top-line .logo:after,
.ninth-block .top-line .logo:before {
    top: 60%
}

.ninth-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/bottom-flame.png) no-repeat center;
    width: 100%;
    height: 311px;
    z-index: 4
}

.pre-title {
    font-family: BebasNeue;
    color: #f7ba00;
    font-size: 60px;
    font-weight: 700;
    line-height: .9;
    text-align: center
}

.pre-title>span {
    display: block
}

.form-wrapper {
    position: relative
}

.form-wrapper .img-right {
    position: absolute;
    left: 48%;
    bottom: 43%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 3;
    background: url(../img/women-bottom.png) no-repeat center;
    width: 940px;
    height: 552px;
    background-size: contain
}

.form-wrapper .product-wrapper {
    position: absolute;
    right: 10px;
    top: 40px;
    z-index: 5
}

.form-wrapper .form {
    width: 320px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    background: url(../img/form-bg.png) no-repeat center bottom;
    background-size: cover;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 5
}

.form-wrapper .form .form__title {
    font-size: 0;
    margin-bottom: 10px
}

.form-wrapper .form .form__title .title-side {
    width: 50%;
    vertical-align: top;
    display: inline-block;
    text-align: center
}

.form-wrapper .form .form__title .title-side:first-child span {
    position: relative
}

.form-wrapper .form .form__title .title-side:first-child span:after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #aaacb3;
    position: absolute;
    top: 0;
    right: -10px;
    opacity: .9
}

.form-wrapper .form .form__title .title-side img {
    margin: 0 auto
}

.form-wrapper .form .form__title .title-side span {
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
    color: #aaacb3;
    padding: 5px 0;
    display: block;
    text-transform: uppercase
}

.form-wrapper .form .order-form .form__element {
    display: block;
    width: 100%;
    border: 2px solid transparent;
    padding: 0 12px;
    font-size: 16px;
    color: #000;
    outline: 0;
    opacity: .8;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    height: 60px
}

.form-wrapper .form .order-form .form__element:hover {
    border: 2px solid #f7ba00;
    opacity: 1
}

.form-wrapper .form .order-form select.form__element {
    border: 2px solid #f7ba00
}

.form-wrapper .form .order-form .btn {
    margin-top: 25px
}

.form__element::-webkit-input-placeholder {
    color: #333
}

.form__element::-moz-placeholder {
    color: #333
}

.form__element:-ms-input-placeholder {
    color: #333
}

.form__element:-moz-placeholder {
    color: #333
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../img/select.png) no-repeat 92% center
}

select::-ms-expand {
    display: none
}

@media only screen and (max-width:1200px) {
    .carousel-wrapper {
        height: 480px
    }
}

@media only screen and (max-width:1024px) {
    .carousel-wrapper {
        height: 380px
    }
}

@media only screen and (max-width:991px) {
    .mob-hidden {
        display: none !important
    }

    .limit {
        max-width: 320px
    }

    .top-line {
        display: none
    }

    .first-block .block-content {
        padding: 22px 0 28px;
        background: url(../img/women-top-mob.png) no-repeat 55px 185px
    }

    .first-block .block-content .title {
        display: block;
        width: 80%;
        margin: 0 auto;
        padding-top: 0
    }

    .first-block .block-content .title h1 {
        font-size: 44px;
        line-height: 1;
        text-align: center
    }

    .first-block .block-content .title h1 img {
        display: none
    }

    .first-block .block-content .title p {
        width: 100%;
        text-align: center;
        font-size: 18px;
        margin-top: 10px
    }

    .logo__text {
        font-size: 34px
    }

    .product-wrapper {
        width: 100%;
        margin-top: 15px;
        margin-left: 0
    }

    .product-wrapper .price {
        position: relative;
        z-index: 10;
        width: 85px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: -13px;
        top: 35px;
        background-color: #fff;
        border-radius: 50%;
        height: 85px
    }

    #first-price {
        left: -23px;
        top: 85px
    }

    .price .old-price {
        font-size: 16px
    }

    .form .price .old-price {
        font-size: 28px !important
    }

    .first-old-price {
        font-size: 16px !important
    }

    .price .new-price {
        font-size: 28px
    }

    .form .price .new-price {
        font-size: 42px !important
    }

    .first-new-price {
        font-size: 28px !important
    }

    .product {
        width: 45%;
        margin-left: 5%;
        padding-top: 0;
        bottom: 65px;
        position: absolute
    }

    .product img {
    	height: auto;
    }

    .product-wrapper .btn {
        width: 240px;
        margin-top: 240px;
        font-size: 30px;
        padding: 15px
    }

    .tizers {
        padding: 30px 0;
        text-align: center
    }

    .tizers .tizers__item {
        width: 50%
    }

    .tizers .tizers__item p {
        margin: 0 auto 10px
    }

    .meterage-wrapper {
        padding: 20px 0
    }

    .meterage-wrapper .title {
        font-size: 16px;
        width: 90%
    }

    .mob-visible {
        display: block !important
    }

    .mob-hidden {
        display: none
    }

    .img-center {
        margin: 0 auto
    }

    .meterage-wrapper .meterage {
        margin-top: -25px;
        margin-bottom: 0;
        padding-top: 0;
        background-size: cover
    }

    .meterage-wrapper .meterage .meterage__item .description {
        margin-bottom: 10px
    }

    .meterage-wrapper .meterage .meterage__item .description span {
        font-size: 22px
    }

    .meterage-wrapper .meterage .meterage__item:nth-child(1) .main-img {
        height: 150px
    }

    .meterage-wrapper .meterage .meterage__item:nth-child(2) .main-img {
        height: 165px
    }

    .meterage-wrapper .meterage .meterage__item:nth-child(3) .main-img {
        height: 175px
    }

    .meterage-wrapper .meterage .meterage__item .description p {
        position: absolute;
        bottom: 80px;
        left: -20px;
        width: 120px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        z-index: 11;
        font-size: 12px
    }

    .order-content {
        padding: 30px 0
    }

    .order-content span {
        font-size: 18px
    }

    .order-content p {
        font-size: 18px
    }

    .btn {
        max-width: 240px;
        font-size: 30px;
        padding: 15px
    }

    .order-content .btn {
        margin-top: 15px
    }

    .list-wrapper {
        padding: 25px 20px 0
    }

    .list-wrapper h2 {
        font-size: 38px
    }

    .list-wrapper .list {
        padding: 20px 0 10px;
        padding-left: 25px
    }

    .list-wrapper .list li p strong {
        font-size: 16px
    }

    .list-wrapper .list li p {
        font-size: 14px
    }

    .list-wrapper .list li:before {
        width: 115px;
        left: 0
    }

    .list-wrapper .list li {
        padding-bottom: 50px
    }

    .list-wrapper .left-img {
        position: relative;
        left: -10px;
        bottom: -10px
    }

    .third-block:after {
        background-size: cover;
        height: 181px;
        bottom: -10px
    }

    .dividing-line.with-result .order-content {
        padding: 160px 30px 40px;
        width: 100%
    }

    .dividing-line.with-result .order-content:before {
        background: url(../img/result-before-mob.png) no-repeat center;
        width: 139px;
        height: 121px;
        top: 30px;
        left: 15px
    }

    .dividing-line.with-result .order-content:after {
        background: url(../img/result-after-mob.png) no-repeat center;
        width: 139px;
        height: 121px;
        top: 30px;
        right: 15px
    }

    .advantage {
        width: 100%;
        padding: 20px 0 10px
    }

    .advantage h2 {
        font-size: 36px;
        text-align: center
    }

    .advantage .list {
        padding: 45px 45px 0
    }

    .advantage .list li {
        padding-bottom: 50px
    }

    .advantage .list li p strong {
        font-size: 16px
    }

    .advantage .list li p {
        font-size: 14px
    }

    .advantage .list li:before {
        background-size: contain;
        width: 85px;
        top: 9px;
        left: -24px
    }

    .advantage .list li:nth-child(1):before {
        width: 70px;
        background-size: contain;
        top: 13px;
        left: -23px
    }

    .advantage .list li:nth-child(3):before {
        width: 65px;
        background-size: contain;
        top: 8px;
        left: -26px
    }

    .advantage .product-wrapper {
        position: relative;
        left: 0;
        bottom: 0
    }

    .advantage .btn {
        margin-top: 330px
    }

    .advantage .right-img {
        bottom: 105px;
        right: -80px
    }

    .review-wrapper {
        padding: 30px 0 10px
    }

    .review-wrapper h2 {
        font-size: 36px
    }

    .review-wrapper p {
        font-size: 16px;
        width: 80%;
        margin: 15px auto 0
    }

    .review-wrapper .review-slider .review__item .photo-wrapper {
        width: 90%;
        margin: 30px auto 15px
    }

    .review-wrapper .review-slider .review__item .photo-wrapper .frame {
        width: 280px;
        height: 190px;
        top: -5px
    }

    .review-wrapper .review-slider .review__item .photo-before span {
        top: 5px;
        right: 10px
    }

    .review-wrapper .review-slider .review__item .photo-after span {
        top: 5px;
        left: 10px
    }

    .review-wrapper .review-slider .review__item .author-info .name {
        font-size: 16px;
        margin: 0 auto
    }

    .review-wrapper .review-slider .review__item .author-info ul {
        font-size: 12px
    }

    .review-wrapper .review-slider .review__item .message {
        width: 65%;
        font-size: 14px;
        margin-top: 0
    }

    .review-wrapper .review-slider .slick-next,
    .review-wrapper .review-slider .slick-prev {
        top: 275px
    }

    .review-wrapper .review-slider .slick-prev {
        left: 0;
        background-size: contain;
        width: 48px
    }

    .review-wrapper .review-slider .slick-next {
        right: 0;
        background-size: contain;
        width: 48px
    }

    .sixth-inner {
        padding: 20px 0
    }

    .sixth-inner h2 {
        font-size: 36px;
        width: 80%
    }

    .sixth-inner>p {
        font-size: 16px;
        margin-top: 15px;
        width: 90%
    }

    .carousel-wrapper {
        max-width: 320px;
        height: 100%
    }

    .item__inner .cloud-message {
        opacity: 1
    }

    .item {
        width: 100%
    }

    .item__inner .img-item {
        padding-bottom: 130px
    }

    .item:nth-child(1) .cloud-message {
        bottom: 50px;
        right: auto;
        left: 0
    }

    .item:nth-child(2) .cloud-message {
        bottom: 50px;
        right: auto;
        left: 0
    }

    .item:nth-child(3) .cloud-message {
        bottom: 50px;
        right: auto;
        left: 0
    }

    .item__inner .cloud-message p {
        font-size: 18px
    }

    .item__inner .cloud-message ul {
        font-size: 14px
    }

    .slick-dots {
        bottom: 20px;
        z-index: 12
    }

    .slick-dots li.slick-active button:before {
        color: #fff;
        opacity: 1
    }

    .slick-dots li button:before {
        color: #fff;
        font-size: 30px
    }

    .magazine-wrapper {
        padding: 40px 0 0
    }

    .magazine-wrapper h2 {
        width: 90%;
        font-size: 38px
    }

    .magazine-wrapper .magazine {
        width: 90%;
        min-height: 0;
        margin: 0 auto;
        background: 0 0
    }

    .magazine-wrapper .magazine .article-text {
        padding: 10px 0 0;
        padding-left: 0
    }

    .magazine-wrapper .magazine .article-text .logo {
        margin: 15px auto 0;
        width: 60%
    }

    .magazine-wrapper .magazine .article-text>p {
        font-size: 14px;
        margin: 15px 0
    }

    .magazine-wrapper .magazine .article-text .author-info {
        margin: 30px 0 0;
        padding: 5px 0;
        text-align: center
    }

    .magazine-wrapper .magazine .article-text .footer {
        margin: 30px auto 0
    }

    .seventh-block .dividing-line {
        margin-top: 20px
    }

    .seventh-block .dividing-line .order-content {
        padding: 35px 0
    }

    .facebook-wrapper {
        padding: 30px 0 0
    }

    .facebook-wrapper h2 {
        width: 100%;
        font-size: 36px
    }

    .facebook-wrapper .facebook-comments {
        background: url(../img/facebook-frame-mob.png) no-repeat center top
    }

    .facebook-wrapper .facebook-comments {
        margin: 32px 0;
        padding: 50px 15px 35px
    }

    .facebook-wrapper .facebook-comments .comments-side {
        width: 100%;
        height: 520px
    }

    .facebook-wrapper .facebook-comments .comments-side:first-child {
        display: none
    }

    .facebook-wrapper .facebook-comments .comments-side .comment .avatar {
        width: 50px
    }

    .facebook-wrapper .facebook-comments .comments-side .comment .comment-body {
        padding-left: 60px
    }

    .pre-title {
        font-size: 36px;
        padding: 10px 0;
        line-height: 1
    }

    .ninth-block .top-line {
        display: block
    }

    .ninth-block .top-line .logo:after {
        display: none
    }

    .ninth-block .top-line .logo:before {
        display: none
    }

    .ninth-block .top-line .logo {
        padding: 10px 0
    }

    .ninth-block .top-line .logo img {
        width: 85%;
        margin: 0 auto
    }

    .ninth-block .product-wrapper {
        position: relative
    }

    .ninth-block .product {
        margin-left: 8%;
        bottom: 10px;
        position: relative
    }

    .price {
        margin-left: 8%
    }

    .form-wrapper .product-wrapper {
        top: 0
    }

    .form-wrapper .form {
        display: block;
        width: 90%;
        margin: -10px auto 0;
        background: url(../img/form-bg.png) no-repeat center top
    }

    .form-wrapper .form .form__title .title-side span {
        padding: 0 0 5px
    }

    .form-wrapper .form .order-form .form__element {
        padding: 15px 15px
    }

    .form-wrapper .img-right {
        width: 540px;
        bottom: 545px;
        left: 216px
    }
}

form .input-wrapper label {
    display: none;
    pointer-events: none
}

form .input-wrapper {
    position: relative;
    margin-bottom: 20px
}

form .input-wrapper .error {
    border: 1px solid red !important;
    padding-top: 6px !important
}

form .input-wrapper .error+label {
    width: 100%;
    height: 100%;
    color: red;
    display: block !important;
    font-size: 11px;
    line-height: 17px;
    position: absolute;
    top: 0;
    left: 10px;
    text-align: left
}

form .input-wrapper .error+label:after,
form .input-wrapper .error+label:before {
    content: "";
    position: absolute;
    right: 30px;
    top: 50%;
    width: 3px;
    height: 21px;
    background-color: red
}

form .input-wrapper .error+label:before {
    -webkit-transform: translate(0, -50%) rotate(135deg);
    transform: translate(0, -50%) rotate(135deg)
}

form .input-wrapper .error+label:after {
    -webkit-transform: translate(0, -50%) rotate(45deg);
    transform: translate(0, -50%) rotate(45deg)
}

.footer {
    background-color: #090909 !important;
    color: #fff !important
}