@media (min-width: 991px) {
    .ingrid_1 {
        background: url("../img/ingrid1.png") no-repeat 0 0;
    }

    .ingrid_2 {
        background: url("../img/ingrid2.png") no-repeat 0 0;
    }

    .ingrid_3 {
        background: url("../img/ingrid3.png") no-repeat 0 0;
    }

    .photo-1 {
        background: url("../img/infection1.jpg") no-repeat 0 0;
    }

    .photo-2 {
        background: url("../img/infection2.jpg") no-repeat 0 0;
    }

    .photo-3 {
        background: url("../img/infection3.jpg") no-repeat 0 0;
    }

    .photo-4 {
        background: url("../img/infection4.jpg") no-repeat 0 0;
    }

    .img_1 {
        background: url("../img/img.jpg") no-repeat 0 0;
    }

    .img_2 {
        background: url("../img/img2.jpg") no-repeat 0 0;
    }

    .img_3 {
        background: url("../img/img3.jpg") no-repeat 0 0;
    }

    .img_4 {
        background: url("../img/img4.jpg") no-repeat 0 0;
    }

    .af_1 {
        background: url("../img/result_af1.jpg") no-repeat 0 0/100%;
    }

    .af_2 {
        background: url("../img/result_af2.jpg") no-repeat 0 0/100%;
    }

    .af_3 {
        background: url("../img/result_af3.jpg") no-repeat 0 0/100%;
    }

    .bf_1 {
        background: url("../img/result_bf1.jpg") no-repeat 0 0/100%;
    }

    .bf_2 {
        background: url("../img/result_bf2.jpg") no-repeat 0 0/100%;
    }

    .bf_3 {
        background: url("../img/result_bf3.jpg") no-repeat 0 0/100%;
    }

    .sectn2 .container:after,
    .sectn2 .container:before,
    .sectn2 .s_title:after,
    .sectn2 .s_title:before {
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        display: block;
    }

    .sectn2 .s_title:after {
        width: 61px;
        height: 60px;
        background-position: -5px -5px;
    }

    .sectn2 .container:after {
        width: 133px;
        height: 130px;
        background-position: -5px -75px;
    }

    .sectn2 .container:before {
        width: 41px;
        height: 42px;
        background-position: -5px -215px;
    }

    .sectn2 .s_title:before {
        width: 67px;
        height: 68px;
        background-position: -5px -267px;
    }

    .only_desktop {
        display: block;
    }

    .only_mobile {
        display: none;
    }

    .container {
        max-width: 1000px;
    }

    body,
    html {
        font-size: "Roboto", sans-serif;
    }

    h4 {
        font-size: 86px;
        line-height: 0.8;
        letter-spacing: -2px;
    }

    .hide_price,
    .hide_audio {
        display: none;
    }

    .notification_item {
        width: 350px;
        height: 100px;
        position: fixed;
        font-size: 14px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.51);
        background-image: url("../img/desk/message.png");
        background-repeat: no-repeat;
        background-position: center left;
        top: 65px;
        right: 40px;
        z-index: 9999;
        padding: 5px 10px 0 110px;
        display: none;
    }

    .note-wrap {
        height: 100%;
        display: table;
    }

    .note {
        display: table-cell;
        vertical-align: middle;
        line-height: 20px;
    }

    header {
        padding: 20px 0 30px;
        z-index: 1;
    }

    header .container:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/legs_bg1.png") no-repeat 0 0;
        width: 759px;
        height: 507px;
        bottom: -30px;
        z-index: -1;
        left: -220px;
    }

    header .grid_outer {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    header .grid_row {
        display: table-cell;
        vertical-align: top;
        position: relative;
    }

    header .grid_row.one {
        width: 67%;
        padding-top: 10px;
    }

    header .grid_row.one .grid_inner:nth-of-type(2) .logo_name {
        display: inline-block;
        vertical-align: top;
    }

    header .grid_row.one .grid_inner:nth-of-type(3) {
        width: 50%;
    }

    header .grid_inner {
        display: block;
    }

    header .grid_part {
        display: inline-block;
    }

    header .grid_part:nth-of-type(1) {
        width: 40%;
        vertical-align: bottom;
    }

    header .grid_part:nth-of-type(2) {
        width: 54%;
    }

    header .logo {
        text-align: left;
    }

    header .logo_desc {
        padding: 5px 0 5px 5px;
        margin: 10px 0 0 5px;
    }

    header .logo_desc p {
        font-size: 23px;
    }

    header .slogan {
        text-transform: inherit;
        font-size: 45px;
        margin: 0;
        width: 100%;
        letter-spacing: -2px;
        line-height: 1;
        text-align: left;
        padding-left: 5px;
    }

    header .slogan span {
        font-weight: 700;
    }

    header .green_arrow {
        background: #02b502;
        position: relative;
        padding: 10px 25px 10px 15px;
        right: -48px;
    }

    header .green_arrow_inner p {
        color: #fff;
        font-size: 22px;
        font-weight: 400;
        text-align: right;
    }

    header .green_arrow_inner p b {
        font-weight: 700;
        display: block;
    }

    header .green_arrow .angle {
        position: absolute;
        height: 100%;
        width: 70px;
        top: 0;
        right: 0;
        left: -69px;
    }

    header .green_arrow .angle svg {
        fill: #02b502;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    header .form-wrap {
        margin: auto;
        -webkit-box-shadow: 0px 0px 36px 0px #656464;
        box-shadow: 0px 0px 36px 0px #656464;
        background: #fff;
        position: relative;
        z-index: 2;
    }

    header .form-wrap p {
        font-size: 23px;
    }

    header .form-wrap .price-inner:nth-of-type(1) {
        margin-bottom: 0;
    }

    header .form-wrap .price-new {
        background: #ff0000;
    }

    header .form-wrap .price-new p {
        font-size: 45px;
    }

    header .form-wrap .price {
        margin-top: 0;
    }

    header .form-wrap .price p {
        color: #fff;
        margin: 0;
    }

    header .form-wrap .order {
        margin-top: 20px;
    }

    header .effects {
        background: rgba(2, 181, 2, 0);
        background: -webkit-linear-gradient(left, rgba(2, 181, 2, 0), rgba(2, 181, 2, 0.75));
        background: -webkit-gradient(linear, left top, right top, from(rgba(2, 181, 2, 0)), to(rgba(2, 181, 2, 0.75)));
        background: linear-gradient(to right, rgba(2, 181, 2, 0), rgba(2, 181, 2, 0.75));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(2, 181, 2, 0)', endColorstr='rgba(2, 181, 2, 0.75)', GradientType=1);
        padding: 10px 10px 10px 170px;
        margin-top: 25px;
    }

    header .img_block {
        position: absolute;
        width: 369px;
        left: 60%;
        bottom: -75px;
        -webkit-transform: translateX(45%);
        -ms-transform: translateX(45%);
        transform: translateX(45%);
        z-index: 1;
    }

    header .discount_wrap {
        border: 1px solid #ff0000;
        bottom: 295px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        padding: 10px;
        right: 0;
        z-index: 3;
    }

    header .discount {
        margin: 0;
        width: 110px;
        height: 110px;
    }

    header .timer_wrap {
        display: inline-block;
        width: 300px;
        margin: auto;
        text-align: right;
    }

    header .timer_inner p {
        color: #000;
        font-size: 23px;
        text-align: right;
        margin: 20px 0 10px;
    }

    header .timer_item {
        display: inline-block;
    }

    header .timer_item-inner {
        background: #686868;
        padding: 3px;
        -webkit-box-shadow: inset 0 2px 2px #1f1f1f;
        box-shadow: inset 0 2px 2px #1f1f1f;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 900;
        text-shadow: 2px 2px 2px #000;
    }

    header .timer_number-wrap {
        display: inline-block;
        position: relative;
        -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    }

    header .timer_number-wrap:before,
    header .timer_number-wrap:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 2px;
        height: 5px;
        z-index: 2;
        -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
        background: #2b2b2b;
        background: -webkit-linear-gradient(303deg, #7c7c7c, #2b2b2b);
        background: linear-gradient(147deg, #7c7c7c, #2b2b2b);
    }

    header .timer_number-wrap:before {
        left: 3px;
    }

    header .timer_number-wrap:after {
        right: 3px;
    }

    header .timer_number {
        display: inline-block;
        background: #292929;
        padding: 6px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #040404;
        position: relative;
        font-size: 40px;
    }

    header .timer_number:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background: #141414;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    header .timer_number:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        background: -webkit-linear-gradient(303deg, rgba(255, 255, 255, 0.2) 50%, transparent 60%);
        background: linear-gradient(147deg, rgba(255, 255, 255, 0.2) 50%, transparent 60%);
    }

    .symptoms .container {
        border-bottom: none;
    }

    .symptoms .s_title {
        font-size: 82px;
        margin: 45px auto 0;
        max-width: 800px;
        text-align: center;
        line-height: 0.9;
    }

    .symptoms .s_title span {
        display: block;
        text-align: right;
        margin-left: 300px;
    }

    .symptoms_inner {
        display: table;
        width: 100%;
    }

    .symptoms .block_l,
    .symptoms .block_r {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        position: relative;
    }

    .symptoms .block_l {
        direction: rtl;
        top: -50px;
    }

    .symptoms .block_r {
        left: -55px;
        padding-top: 50px;
    }

    .symptoms .img_block,
    .symptoms .block_l_inner,
    .symptoms .block_r_inner {
        display: inline-block;
        vertical-align: top;
        margin: 0;
    }

    .symptoms .block_l_inner,
    .symptoms .block_r_inner {
        width: 180px;
    }

    .sectn1 {
        padding: 50px 0;
        overflow: hidden;
    }

    .sectn1 .container:before,
    .sectn1 .container:after {
        content: "";
        display: block;
        position: absolute;
    }

    .sectn1 .container:after {
        background: url("../img/desk/hotspot.png") no-repeat 0 0;
        width: 929px;
        height: 708px;
        right: 50%;
        -webkit-transform: translateX(103%);
        -ms-transform: translateX(103%);
        transform: translateX(103%);
        bottom: -50px;
        z-index: -1;
    }

    .sectn1 .container:before {
        background: url("../img/desk/bg_top.png") no-repeat 0 0;
        width: 930px;
        height: 711px;
        top: -50px;
        left: 50%;
        -webkit-transform: translateX(-103%);
        -ms-transform: translateX(-103%);
        transform: translateX(-103%);
        z-index: -1;
    }

    .sectn1 .grid_wrap {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .sectn1 .grid_part {
        display: table-cell;
        position: relative;
    }

    .sectn1 .grid_part h4 {
        font-size: 45px;
        font-weight: 900;
        margin-bottom: 40px;
        line-height: 0.9;
    }

    .sectn1 .grid_part.one {
        width: 60%;
        padding-right: 25px;
    }

    .sectn1 .grid_part.one h4 {
        color: #0f5b94;
        text-align: right;
        padding-right: 150px;
    }

    .sectn1 .grid_part.one .red_block {
        background: #fb0000;
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #fb0000), color-stop(100%, #ad0000));
        background: -webkit-linear-gradient(top, #fb0000 0%, #ad0000 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(#fb0000), to(#ad0000));
        background: linear-gradient(to bottom, #fb0000 0%, #ad0000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb0000', endColorstr='#ad0000', GradientType=0);
        padding: 30px 150px 70px 30px;
    }

    .sectn1 .grid_part.one .red_block p {
        color: #fff;
        font-size: 23px;
        font-weight: 400;
        text-align: right;
    }

    .sectn1 .grid_part.one .red_block p span {
        font-size: 35px;
        font-weight: 900;
        display: block;
    }

    .sectn1 .grid_part.one .green_arrow {
        background: #02b502;
        margin: 0 135px 20px -1000px;
        padding: 15px 0px 15px 1000px;
        position: relative;
        top: -50px;
    }

    .sectn1 .grid_part.one .green_arrow_inner {
        display: block;
        margin: 0 auto;
        padding: 0 10px 0 30px;
    }

    .sectn1 .grid_part.one .green_arrow_inner p {
        color: #000;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
    }

    .sectn1 .grid_part.one .green_arrow_inner p span {
        color: #fff;
        font-size: 45px;
        font-weight: 900;
        text-transform: uppercase;
        display: block;
    }

    .sectn1 .grid_part.one .green_arrow .angle {
        position: absolute;
        height: 100%;
        width: 70px;
        top: 0;
        right: -69px;
    }

    .sectn1 .grid_part.one .green_arrow .angle svg {
        fill: #02b502;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .sectn1 .grid_part.two {
        padding-left: 70px;
        width: 40%;
    }

    .sectn1 .grid_part.two h4 {
        color: #e10000;
        position: relative;
        margin-right: 55px;
    }

    .sectn1 .grid_part.two h4:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/tit_arr.png") no-repeat;
        width: 165px;
        height: 126px;
        top: 0;
        right: -58px;
    }

    .sectn1 .grid_part.two ul {
        margin-left: 10px;
    }

    .sectn1 .grid_part.two ul li {
        border-bottom: 1px solid #0f5b94;
        padding: 10px 0;
        position: relative;
    }

    .sectn1 .grid_part.two ul li:before {
        content: "";
        display: block;
        position: absolute;
        background: url(../img/sprite.png) no-repeat -5px -345px;
        width: 10px;
        height: 10px;
        top: 15px;
        left: -20px;
    }

    .sectn1 .grid_part.two ul li:last-child {
        border-bottom: none;
    }

    .sectn1 .grid_part.two ul li p {
        color: #0f5b94;
        font-size: 24px;
        font-weight: 400;
    }

    .sectn1 .grid_part.two ul li p span {
        color: #e10000;
        font-weight: 700;
    }

    .sectn1 .human {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-32%) translateY(-50%);
        -ms-transform: translateX(-32%) translateY(-50%);
        transform: translateX(-32%) translateY(-50%);
    }

    .sectn2 {
        padding: 115px 0 67px;
    }

    .sectn2 .container:after,
    .sectn2 .container:before {
        content: "";
        display: block;
        position: absolute;
    }

    .sectn2 .container:after {
        top: 75%;
        left: -153px;
    }

    .sectn2 .container:before {
        top: 50%;
        left: -43px;
    }

    .sectn2 .s_title {
        background: rgba(255, 244, 244, 0.9);
        padding: 20px 500px 20px 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .sectn2 .s_title:after,
    .sectn2 .s_title:before {
        content: "";
        display: block;
        position: absolute;
    }

    .sectn2 .s_title:after {
        top: -90px;
        left: 40%;
    }

    .sectn2 .s_title:before {
        right: -15px;
        top: -40px;
    }

    .sectn2 .s_title .red_block {
        border: 2px solid #ff0000;
        padding: 15px 15px 15px 100px;
        position: relative;
    }

    .sectn2 .s_title .red_block span {
        display: block;
        width: 180px;
        height: 180px;
        background: rgba(255, 244, 244, 0.9);
        position: absolute;
        top: -55px;
        left: -80px;
    }

    .sectn2 .s_title .red_block span:after {
        content: "";
        display: block;
        position: absolute;
        width: 140px;
        height: 140px;
        border: 6px solid #ff0000;
        background: url("../img/desk/skin.png");
        top: 13px;
        left: 13px;
    }

    .sectn2 .s_title .red_block p {
        color: #ff0000;
        font-size: 23px;
        font-weight: 700;
        text-align: right;
    }

    .sectn2 .grid_part {
        display: inline-block;
        vertical-align: bottom;
        width: 49%;
        position: relative;
        z-index: 1;
    }

    .sectn2 .grid_part p {
        color: #0f5b94;
        font-size: 45px;
        font-weight: 300;
        text-align: right;
    }

    .sectn2 .grid_part p span {
        font-weight: 700;
    }

    .sectn2 .grid_part .tablet {
        background: url("../img/desk/tablet.png");
        width: 624px;
        height: 396px;
        position: absolute;
        z-index: -1;
        bottom: -67px;
    }

    .sectn2 .grid_part .tablet span {
        width: 154px;
        height: 154px;
        position: absolute;
        display: block;
    }

    .sectn2 .grid_part .tablet span:nth-of-type(1) {
        background: url("../img/desk/photo.png");
        left: 36px;
    }

    .sectn2 .grid_part .tablet span:nth-of-type(2) {
        background: url("../img/desk/photo2.png");
        top: -105px;
        left: 150px;
    }

    .sectn2 .grid_part .tablet span:nth-of-type(3) {
        background: url("../img/desk/photo3.png");
        top: -35px;
        right: 190px;
    }

    .sectn2 .grid_part .product {
        position: absolute;
        right: -14px;
        bottom: -104px;
        width: 160px;
    }

    .sectn3 {
        background: #fbfff9;
        background: -webkit-linear-gradient(left, #fbfff9, #f1ffe8);
        background: -webkit-gradient(linear, left top, right top, from(#fbfff9), to(#f1ffe8));
        background: linear-gradient(to right, #fbfff9, #f1ffe8);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfff9', endColorstr='#f1ffe8', GradientType=1);
    }

    .sectn3 .container:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/med_man.png") no-repeat;
        width: 799px;
        height: 672px;
        top: 0;
        left: -554px;
    }

    .sectn3 .grid_outer {
        position: relative;
        display: table;
        width: 100%;
        margin: auto;
    }

    .sectn3 .grid_outer .grid_part {
        border: 1px solid #02b502;
        display: inline-block;
    }

    .sectn3 .grid_outer p {
        color: #005fa8;
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sectn3 .grid_outer.one .grid_inner {
        display: table-cell;
    }

    .sectn3 .grid_outer.one .grid_inner:nth-of-type(1) {
        vertical-align: bottom;
        width: 55%;
        background: #fbfff9;
        padding: 150px 10px 20px 10px;
        text-align: right;
    }

    .sectn3 .grid_outer.one .grid_inner:nth-of-type(1) .grid_part {
        padding: 10px 285px 10px 5px;
    }

    .sectn3 .grid_outer.one .grid_inner:nth-of-type(3) {
        background: #f1ffe8;
        vertical-align: bottom;
        width: 45%;
        padding: 150px 10px 20px 10px;
    }

    .sectn3 .grid_outer.one .grid_inner:nth-of-type(3) .grid_part {
        padding: 10px 5px 10px 150px;
    }

    .sectn3 .mark {
        display: inline-block;
        position: absolute;
        right: 50%;
        bottom: 50%;
        margin-bottom: -281px;
        margin-right: -199px;
        z-index: 1;
    }

    .sectn3 .mark .mark_inner {
        display: block;
        position: relative;
        width: 295px;
        height: 295px;
    }

    .sectn3 .mark .mark_inner:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/med_mark.png") no-repeat;
        width: 263px;
        height: 253px;
        top: 22px;
        left: 15px;
    }

    .sectn3 .mark .mark_inner span {
        display: inline-block;
    }

    .sectn3 .mark .mark_inner span:nth-of-type(1) {
        background: url(../img/desk/photo4.png);
        width: 145px;
        height: 145px;
        -webkit-border-radius: 50px 0 0 0;
        border-radius: 50px 0 0 0;
    }

    .sectn3 .mark .mark_inner span:nth-of-type(2) {
        background: url(../img/desk/photo5.png) -62px -11px;
        width: 145px;
        height: 145px;
        -webkit-border-radius: 0 50px 0 0;
        border-radius: 0 50px 0 0;
    }

    .sectn3 .mark .mark_inner span:nth-of-type(3) {
        background: url(../img/desk/photo6.png) -35px -30px;
        width: 145px;
        height: 145px;
        -webkit-border-radius: 0 0 0 50px;
        border-radius: 0 0 0 50px;
    }

    .sectn3 .mark .mark_inner span:nth-of-type(4) {
        background: url(../img/desk/photo7.png);
        width: 145px;
        height: 145px;
        -webkit-border-radius: 0 0 50px 0;
        border-radius: 0 0 50px 0;
    }

    .sectn3 .grid_outer.three .grid_inner {
        display: table-cell;
    }

    .sectn3 .grid_outer.three .grid_inner:nth-of-type(1) {
        background: #fbfff9;
        vertical-align: top;
        width: 55%;
        text-align: right;
        padding: 0 10px 125px;
    }

    .sectn3 .grid_outer.three .grid_inner:nth-of-type(1) .grid_part {
        padding: 10px 285px 10px 5px;
    }

    .sectn3 .grid_outer.three .grid_inner:nth-of-type(2) {
        background: #f1ffe8;
        vertical-align: top;
        width: 45%;
        padding: 0 10px 125px;
    }

    .sectn3 .grid_outer.three .grid_inner:nth-of-type(2) .grid_part {
        padding: 10px 5px 10px 150px;
    }

    .ingredients {
        padding: 0 0 120px;
        background: #fff;
        position: relative;
        z-index: 10;
    }

    .ingredients .container:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/bacteria_set.png");
        width: 360px;
        height: 718px;
        right: -331px;
        top: 115px;
    }

    .ingredients .green_line {
        background: #02b502;
        margin: 0 -1000px 0 450px;
        padding: 10px 1000px 10px 10px;
        position: relative;
        top: -50px;
    }

    .ingredients .green_line:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/product2.png") 0 0/100% 100%;
        width: 206px;
        height: 398px;
        z-index: 1;
        left: -190px;
        bottom: 40px;
    }

    .ingredients .green_line .grid_outer {
        display: table;
        width: 100%;
    }

    .ingredients .green_line-inner {
        position: relative;
    }

    .ingredients .green_line-inner:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/hand.png");
        width: 514px;
        height: 603px;
        bottom: -10px;
        right: -95%;
    }

    .ingredients .green_line-inner .grid_inner {
        color: #fff;
        display: table-cell;
        vertical-align: bottom;
        font-size: 72px;
        font-weight: 900;
        line-height: 0.9;
        text-transform: uppercase;
    }

    .ingredients .green_line-inner .grid_inner:nth-of-type(1) {
        width: 20px;
    }

    .ingredients .green_line-inner .grid_inner:nth-of-type(2) {
        padding-left: 5px;
        padding-bottom: 5px;
    }

    .ingredients .green_line-inner .grid_inner:nth-of-type(2) p {
        color: #fff;
        font-size: 35px;
        font-weight: 400;
        line-height: 0.9;
        text-transform: lowercase;
    }

    .ingredients .s_title {
        font-size: 45px;
        text-transform: inherit;
        margin-right: 395px;
    }

    .ingredients .s_title span {
        font-weight: 300;
        font-size: 45px;
    }

    .ingredients .img_block {
        position: absolute;
        top: -11px;
        right: 77px;
    }

    .ingredients .img_block img {
        display: none;
    }

    .ingredients .img_block:after {
        background: url("../img/desk/legs.png");
        width: 486px;
        height: 896px;
        right: -156px;
    }

    .ingredients_list {
        margin-right: 395px;
        text-align: right;
        margin-top: 50px;
    }

    .ingredients_list .feature {
            display: inline-block;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: 1;
    padding: 5px 10px;
    background: #005fa8;
    color: #fff;
    }

    .ingredients_list .feature .angle {
        display: block;
        position: absolute;
        height: 100%;
        width: 41px;
        top: 0;
        right: -39px;
    }

    .ingredients_list .feature .angle svg {
        fill: #005fa8;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .ingredients_item {
        padding-right: 150px;
    }

    .ingredients_item .name_ingrid {
        margin-top: 0;
        top: 5px;
		width: 130px;
		display: inline-block;
		color: inherit;
		background: none;
		position: absolute;
		right: 0;
    }

    .ingredients_item .name_ingrid p {
        font-size: 16px;
    }

    .ingredients_item:nth-of-type(2) {
        padding-right: 150px;
        padding-left: 0;
    }

    .ingredients_item:nth-of-type(4) {
        padding-right: 150px;
        padding-left: 0;
    }

    .ingredients_item:nth-of-type(2) .feature {
        padding: 5px 10px;
    }

     .ingredients_item:nth-of-type(4) .feature {
        padding: 5px 10px;
    }

    .ingredients_item:nth-of-type(2) .name_ingrid {
        left: auto;
        right: 0;
    }

    .ingredients_item:nth-of-type(4) .name_ingrid {
        left: auto;
        right: 0;
    }

    .ingredients .ingrid_descr {
        padding-right: 10px;
        padding-top: 5px;
    }

    .ingredients .ingrid_descr p {
        color: #000;
        font-size: 24px;
        font-weight: 400;
    }

    .ingredients .ingrid_descr p span {
        font-weight: 700;
        color: #005fa8;
    }


    .infection {
        padding-top: 35px;
        padding-bottom: 70px;
        border-top: 1px solid #00a200;
        border-bottom: 1px solid #00a200;
        overflow: hidden;
    }

    .infection .container {
        border-top: none;
    }

    .infection .container:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/iphone.png") no-repeat 0 0/contain;
        width: 511px;
        height: 493px;
        bottom: -70px;
        z-index: 1;
    }

    .infection .container:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/girl.png") no-repeat 0 0/100%;
        width: 756px;
        height: 652px;
        bottom: -70px;
        left: -529px;
        z-index: -1;
    }

    .infection .inf_wrap {
        padding-left: 400px;
    }

    .infection .s_title {
        font-size: 23px;
        text-transform: inherit;
        color: #ff0000;
        font-weight: 400;
        padding: 0 20px 0 0;
        text-align: center;
    }

    .infection .s_title span {
        font-size: 23px;
        font-weight: 700;
    }

    .infection .green_arrow {
        margin: 0 0 20px -300px;
        padding: 15px 15px 15px 300px;
        position: relative;
    }

    .infection .green_arrow .product {
        display: inline-block;
        position: absolute;
        background: #f1ffe8;
        height: 80px;
        width: 1000px;
        right: -985px;
        top: 50%;
        margin-top: 122px;
        z-index: -1;
    }

    .infection .green_arrow .product:after {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/product2.png") no-repeat 0 0/100% 100%;
        width: 200px;
        height: 396px;
        top: 50%;
        left: 25px;
        margin-top: -368px;
    }

    .infection .green_arrow .product:before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 56px solid transparent;
        border-left: 56px solid #f1ffe8;
        left: -27px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 12px;
    }

    .infection .green_arrow_inner p {
        font-size: 45px;
        line-height: 1;
    }

    .infection .order_btn {
        font-size: 23px;
        padding: 18px 20px;
        text-transform: uppercase;
        width: 375px;
    }

    .sertificate {
        padding: 80px 0 50px;
    }

    .sertificate .s_title {
        font-size: 45px;
        color: #00508d;
        font-weight: 300;
        text-align: center;
    }

    .sertificate .s_title span {
        font-weight: 900;
        text-transform: uppercase;
        display: block;
    }

    .sertificate_list {
        text-align: center;
        margin-top: -100px;
    }

    .sertificate_item {
        display: inline-block;
    }

    .sertificate_item .product {
        position: relative;
        bottom: -100px;
        z-index: 1;
    }

    .sertificate .img_block {
        -webkit-box-shadow: 1px 1px 10px 1px #ccc;
        box-shadow: 1px 1px 10px 1px #ccc;
    }

    .doctor {
        background: #f1ffe8;
        background: -webkit-linear-gradient(left, #f1ffe8, #ffffff);
        background: -webkit-gradient(linear, left top, right top, from(#f1ffe8), to(#ffffff));
        background: linear-gradient(to right, #f1ffe8, #ffffff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1ffe8', endColorstr='#ffffff', GradientType=1);
    }

    .doctor .container {
        border: none;
        padding: 0;
    }

    .doctor .container:before {
        content: "";
        display: block;
        position: absolute;
        background: url("../img/desk/colba.png") no-repeat;
        width: 814px;
        height: 763px;
        bottom: 0;
        left: -50%;
    }

    .doctor .grid_outer {
        display: table;
        width: 100%;
        min-height: 735px;
        height: 1px;
    }

    .doctor .grid_part {
        display: table-cell;
        vertical-align: top;
        padding: 120px 0 100px;
    }

    .doctor .grid_part:nth-of-type(1) {
        background: #f1ffe8;
        width: 55%;
        padding-right: 40px;
    }

    .doctor .grid_part:nth-of-type(2) {
        width: 44%;
        background: #d6faff;
    }

    .doctor_info {
        margin-bottom: 25px;
    }

    .doctor_info:after,
    .doctor_info:before {
        content: "";
        display: block;
        position: absolute;
    }

    .doctor_info:after {
        background: #a8ced5;
        width: 220px;
        height: 250px;
        top: -40px;
        left: 150px;
    }

    .doctor_info:before {
        background: #e5f7e5;
        top: 25px;
        right: -15px;
        width: 330px;
        height: 225px;
    }

    .doctor_text {
        font-size: 23px;
        text-align: right;
        color: #001522;
        line-height: 1;
    }

    .doctor_text p {
        margin-bottom: 20px;
    }

    .doctor_photo {
        width: 100%;
        height: 100%;
        position: relative;
        right: -100px;
        z-index: 2;
    }

    .doctor_name {
        width: 312px;
        padding: 29px 125px 20px 15px;
        z-index: 1;
        text-align: right;
        bottom: -10px;
        position: absolute;
    }

    .doctor .results {
        padding: 0 20px;
    }

    .doctor .results_tit {
        margin-top: 0;
    }

    .doctor .results_tit p {
        font-size: 23px;
    }

    .doctor .results_tit p span {
        display: inline-block;
        text-transform: inherit;
    }

    .doctor .results_item {
        -webkit-border-radius: 0;
        border-radius: 0;
        width: 196px;
        height: 180px;
        margin: 2px -1px -2px;
    }

    .doctor .results_item span {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 23px;
        padding: 5px 25px;
    }

    .doctor .results_item.bf span {
        background: rgba(255, 0, 0, 0.4);
    }

    .doctor .results_item.af span {
        background: rgba(2, 181, 2, 0.4);
    }

    .prophylaxy .container {
        border-bottom: none;
    }

    .prophylaxy .container:before {
        content: "";
        display: block;
        position: absolute;
        background: url(../img/desk/rev_bg.png) no-repeat center;
        width: 2000px;
        height: 1383px;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .prophylaxy_inner {
        margin: 0;
        background: #fff;
        padding-top: 250px;
    }

    .prophylaxy .grid_outer {
        display: table;
        width: 100%;
    }

    .prophylaxy .grid_part {
        display: table-cell;
        vertical-align: top;
        width: 49%;
    }

    .prophylaxy .grid_part:nth-of-type(1) {
        padding-right: 40px;
        -webkit-box-shadow: 12px 0px 15px -16px rgba(0, 0, 0, 0.6);
        box-shadow: 12px 0px 15px -16px rgba(0, 0, 0, 0.6);
    }

    .prophylaxy .grid_part:nth-of-type(1) .prophl_tit {
        text-align: right;
    }

    .prophylaxy .grid_part:nth-of-type(1) .prophl_tit:before {
        background: url("../img/img3.jpg") no-repeat 0 0/100% 100%;
        right: 0;
    }

    .prophylaxy .grid_part:nth-of-type(1) .prophl_text {
        padding: 0;
        text-align: right;
    }

    .prophylaxy .grid_part:nth-of-type(2) {
        padding-left: 40px;
    }

    .prophylaxy .grid_part:nth-of-type(2) .prophl_tit {
        text-align: left;
    }

    .prophylaxy .grid_part:nth-of-type(2) .prophl_tit:before {
        background: url("../img/img4.jpg") no-repeat 0 0/100% 100%;
        left: 0;
    }

    .prophylaxy .grid_part:nth-of-type(2) .prophl_text {
        padding: 0;
    }

    .prophylaxy .prophl_tit {
        background: transparent;
        width: 100%;
        position: relative;
    }

    .prophylaxy .prophl_tit:before {
        content: "";
        display: block;
        position: absolute;
        width: 225px;
        height: 225px;
        border: 0;
        top: -230px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .prophylaxy .prophl_tit p {
        font-size: 45px;
        font-weight: 300;
        color: #005fa8;
    }

    .prophylaxy .prophl_tit p span {
        font-weight: 900;
    }

    .prophylaxy .prophl_text {
        font-size: 23px;
    }

    .prophylaxy .prophl_text:before {
        display: none;
    }

    .reviews {
        padding-top: 120px;
    }

    .reviews_slider {
        margin: 40px auto 0;
        width: 900px;
        display: block;
    }

    .reviews .container {
        border: 0;
    }

    .reviews .s_title {
        font-size: 45px;
        text-align: left;
        margin: 0 auto;
        width: 900px;
    }

    .reviews .slider_item {
        margin-bottom: 40px;
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        min-height: 200px;
    }

    .reviews .slider_item .slider_photo_inner:before {
        background-position: 50% 50%;
    }

    .reviews .slider_item:nth-of-type(1) {
        padding-left: 255px;
    }

    .reviews .slider_item:nth-of-type(1) .slider_photo {
        left: 0;
    }

    .reviews .slider_item:nth-of-type(1) .slider_photo_inner {
        -webkit-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        transform: skewX(-15deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }

    .reviews .slider_item:nth-of-type(1) .slider_photo_inner:before {
        -webkit-transform: skewX(15deg);
        -ms-transform: skewX(15deg);
        transform: skewX(15deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        background: url("../img/desk/review1.jpg") no-repeat right top;
        background-size: cover;
    }

    .reviews .slider_item:nth-of-type(1) .name-author {
        left: -29px;
        z-index: 11;
    }

    .reviews .slider_item:nth-of-type(2) {
        background: #f1ffe8;
        padding-right: 255px;
    }

    .reviews .slider_item:nth-of-type(2) .slider_photo {
        right: 0;
    }

    .reviews .slider_item:nth-of-type(2) .slider_photo_inner {
        -webkit-transform: skewX(15deg);
        -ms-transform: skewX(15deg);
        transform: skewX(15deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }

    .reviews .slider_item:nth-of-type(2) .slider_photo_inner:before {
        -webkit-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        transform: skewX(-15deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        background: url("../img/desk/review2.jpg") no-repeat;
        background-size: cover;
    }

    .reviews .slider_item:nth-of-type(2) .author-text {
        text-align: right;
    }

    .reviews .slider_item:nth-of-type(2) .name-author {
        right: -482px;
        z-index: 11;
    }

    .reviews .slider_item:nth-of-type(2) .name-author .angle {
        left: auto;
        right: -29px;
    }

    .reviews .slider_item:nth-of-type(3) {
        padding-left: 255px;
    }

    .reviews .slider_item:nth-of-type(3) .slider_photo {
        left: 0;
    }

    .reviews .slider_item:nth-of-type(3) .slider_photo_inner {
        -webkit-transform: skewX(-15deg);
        -ms-transform: skewX(-15deg);
        transform: skewX(-15deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }

    .reviews .slider_item:nth-of-type(3) .slider_photo_inner:before {
        -webkit-transform: skewX(15deg);
        -ms-transform: skewX(15deg);
        transform: skewX(15deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        background: url("../img/desk/review3.jpg") no-repeat center center;
        background-size: cover;
    }

    .reviews .slider_item:nth-of-type(3) .name-author {
        left: -29px;
        z-index: 11;
    }

    .reviews .slider_photo {
        position: absolute;
        display: block;
        width: 255px;
        height: 235px;
        overflow: hidden;
        z-index: 10;
        top: -15px;
    }

    .reviews .slider_photo_inner {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 0;
    }

    .reviews .slider_photo_inner:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
    }

    .reviews .slider_photo .lable {
        position: absolute;
        padding: 3px 15px;
        -webkit-transform: skewX(15deg);
        -ms-transform: skewX(15deg);
        transform: skewX(15deg);
    }

    .reviews .slider_photo .lable span {
        color: #fff;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 700;
    }

    .reviews .slider_photo .lable.bf {
        background: #ff0000;
        top: 15px;
        left: 8px;
    }

    .reviews .slider_photo .lable.bf:before,
    .reviews .slider_photo .lable.bf:after {
        content: "";
        display: block;
        position: absolute;
        position: absolute;
        background: #ff0000;
        height: 50%;
        width: 100%;
        z-index: -1;
        right: 0;
    }

    .reviews .slider_photo .lable.bf:before {
        -webkit-transform: skew(50deg);
        -ms-transform: skew(50deg);
        transform: skew(50deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        top: 0;
    }

    .reviews .slider_photo .lable.bf:after {
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        bottom: 0;
    }

    .reviews .slider_photo .lable.af {
        background: #02b502;
        bottom: 25px;
        right: -4px;
    }

    .reviews .slider_photo .lable.af:before,
    .reviews .slider_photo .lable.af:after {
        content: "";
        display: block;
        position: absolute;
        position: absolute;
        background: #02b502;
        height: 50%;
        width: 100%;
        z-index: -1;
        left: 0;
    }

    .reviews .slider_photo .lable.af:before {
        -webkit-transform: skew(-50deg);
        -ms-transform: skew(-50deg);
        transform: skew(-50deg);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        top: 0;
    }

    .reviews .slider_photo .lable.af:after {
        -webkit-transform: skew(50deg);
        -ms-transform: skew(50deg);
        transform: skew(50deg);
        -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
        transform-origin: bottom right;
        bottom: 0;
    }

    .s-footer {
        padding-top: 30px;
        padding-bottom: 80px;
        background: #699f15 url("../img/desk/f_bg.png") no-repeat right bottom;
    }

    .s-footer .container:after {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: -100px -18px 97px 177px rgba(255, 255, 255, 0.7);
        box-shadow: -100px -18px 97px 177px rgba(255, 255, 255, 0.7);
        bottom: 64px;
        left: -50%;
        z-index: -1;
    }

    .s-footer_inner {
        position: relative;
    }

    .s-footer_inner:before {
        content: "";
        display: block;
        position: absolute;
        background: url(../img/desk/f_legs.png) no-repeat;
        width: 775px;
        height: 730px;
        bottom: -79px;
        left: -50%;
        margin-left: 306px;
    }

    .s-footer_inner .logo {
        padding-left: 295px;
        position: relative;
        z-index: 2;
    }

    .s-footer_inner .logo h4 {
        color: #fff;
    }

    .s-footer_inner .logo_text {
        padding-left: 328px;
        text-align: left;
        margin-top: 20px;
        font-size: 35px;
    }

    .s-footer_inner .logo_text span {
        text-transform: inherit;
    }

    .s-footer_inner .grid_outer {
        margin-left: 320px;
        position: relative;
        z-index: 1;
    }

    .s-footer_inner .grid_outer:after {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: -200px -50px 71px 266px rgba(255, 255, 255, 0.7);
        box-shadow: -200px -50px 71px 266px rgba(255, 255, 255, 0.7);
        bottom: 100px;
        right: 0;
        z-index: -1;
    }

    .s-footer_inner .grid_outer .grid_part {
        display: table-cell;
    }

    .s-footer_inner .grid_outer .grid_part:nth-of-type(1) {
        width: 40%;
        position: relative;
    }

    .s-footer_inner .grid_outer .grid_part:nth-of-type(2) {
        width: 60%;
    }

    .s-footer_inner .img_block {
        width: 248px;
        left: 55px;
        top: -70px;
    }

    .s-footer_inner .discount_wrap {
        position: absolute;
        border: 1px solid #ff0000;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        padding: 10px;
        left: 0;
        z-index: 2;
        top: -64px;
    }

    .s-footer_inner .discount {
        width: 110px;
        height: 110px;
        margin: 0;
    }

    .s-footer_inner .green_arrow {
        margin: 20px 50px 20px -44px;
        padding-left: 77px;
        position: relative;
    }

    .s-footer_inner .green_arrow_inner p {
        font-size: 23px;
    }

    .s-footer_inner .green_arrow:after {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: -144px 31px 102px 196px rgba(255, 255, 255, 0.7);
        box-shadow: -144px 31px 102px 196px rgba(255, 255, 255, 0.7);
        bottom: 64px;
        right: 0;
        z-index: -1;
    }

    .s-footer_inner .form-wrap {
        margin: 0 auto;
        position: relative;
        z-index: 3;
    }

    .s-footer_inner .price {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .s-footer_inner .price:after {
        content: "";
        display: block;
        position: absolute;
        width: 2px;
        height: 2px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 30px -18px 97px 177px rgba(255, 255, 255, 0.7);
        box-shadow: 30px -18px 97px 177px rgba(255, 255, 255, 0.7);
        bottom: 64px;
        right: 0;
        z-index: -1;
    }

    .s-footer_inner .price-inner {
        margin-bottom: 0;
    }

    .s-footer_inner .price-inner .price-new {
        background: #ff0000;
    }
}
