* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 400 14px "Roboto Condensed", sans-serif;
    background: rgb(122, 0, 20) none repeat scroll 0% 0%;
}

a {
    outline: medium none;
}

img {
    border: medium none;
}

.wrapper {
    min-width: 960px;
    overflow: hidden;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(32,1,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(32,1,0,1)), color-stop(100%, rgba(255,255,255,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(32,1,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(32,1,0,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(32,1,0,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(32,1,0,1) 100%); /* w3c */
}

.wrapper_inner {
    min-width: 960px;
    background: transparent url('../img/header_girl.png') no-repeat scroll center top;
}

.container {
    width: 930px;
    margin: 0px auto;
    padding: 0 15px;
}

.top_hidden-title {
    display: none;
}

.logo {
    display: inline-block;
    vertical-align: top;
    background: transparent url(../img/logo.png) no-repeat -30px 35px;
    width: 262px;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    color: #000;
    padding: 115px 55px 60px;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 0.1px;
    margin-left: 292px;
    margin-top: 45px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.logo div:first-child {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Times, Georgia, serif;
}

.logo div:last-child {
    -moz-transform: rotate(0deg) skewy(7deg);
    -webkit-transform: rotate(0deg) skewy(7deg);
    -o-transform: rotate(0deg) skewy(7deg);
    transform: rotate(0deg) skewy(7deg);
    font-size: 15px;
    font-weight: bold;
}

.old_price {
    display: inline-block;
    vertical-align: top;
    width: 340px;
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

.old_price .old {
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
    text-transform: uppercase;
}

.old_price .old span {
    text-decoration: line-through;
}

.old_price .new {
    font-size: 28px;
    color: rgb(30, 8, 6);
    font-weight: 700;
    background: transparent url('../img/new_price_bg.png') no-repeat scroll 0% 0%;
    padding-right: 14px;
    text-align: center;
    width: 132px;
    padding-bottom: 20px;
    height: 68px;
    line-height: 68px;
    margin: 15px 0px 0px 104px;
    text-transform: uppercase;
}

.old_price .sale {
    font-size: 18px;
    font-weight: 700;
    margin-top: -7px;
    text-transform: uppercase;
}

.old_price .timer_title {
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
    text-transform: uppercase;
}

.old_price .timer {
    background: transparent url(../img/header_timer.png) no-repeat scroll 0% 0%;
    width: 220px;
    height: 60px;
    margin: 15px auto 0px;
}

.btn {
    display: block;
    font-weight: 700;
    width: 230px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid white;
    border-radius: 200px;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: -moz-linear-gradient(90deg, rgba(254,86,0,1) 0%, rgba(254,86,0,1) 49%, rgba(226,70,6,1) 50%, rgba(226,70,6,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,70,6,1)), color-stop(50%, rgba(226,70,6,1)), color-stop(51%, rgba(254,86,0,1)), color-stop(100%, rgba(254,86,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(254,86,0,1) 0%, rgba(254,86,0,1) 49%, rgba(226,70,6,1) 50%, rgba(226,70,6,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(254,86,0,1) 0%, rgba(254,86,0,1) 49%, rgba(226,70,6,1) 50%, rgba(226,70,6,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(254,86,0,1) 0%, rgba(254,86,0,1) 49%, rgba(226,70,6,1) 50%, rgba(226,70,6,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(254,86,0,1) 0%, rgba(254,86,0,1) 49%, rgba(226,70,6,1) 50%, rgba(226,70,6,1) 100%); /* w3c */
    box-shadow: 0px 5px 10px 1px rgb(201, 30, 1);
    transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.btn:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.old_price .btn {
    margin: 10px auto 20px;
}

.header {
    z-index: 2;
    position: relative;
}

.top-girl {
    display: block;
    position: absolute;
    max-height: 340px;
    max-width: 290px;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.subheader {
    z-index: 2;
    width: 100%;
    position: relative;
    padding: 0;
}

.bottles {
    position: absolute;
    left: -30px;
    top: -125px;
    z-index: 11;
}

.check_img {
    margin-left: -17px;
}

.top_steps {
    background: #e04907 url(../img/png-pattern2.png) repeat;
    padding: 50px 25px 25px 120px;
    border-top-right-radius: 20px; 
    border-top-left-radius: 20px; 
    text-align: center;
/*    -webkit-background-size: cover;
    background-size: cover;*/
}

.top_steps .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-shadow: 0px 5px 5px rgb(214, 54, 4);
    position: relative;
    margin-bottom: 20px;
    padding-left: 40px;
    text-transform: uppercase;
}

.top_step {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 0 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.top_step:last-child{
    margin-right: 0;
}

.steps {
    padding: 25px;
    position: relative;
    background: url(../img/health_bg.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}

.steps .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(224, 74, 8);
    position: relative;
    margin-bottom: 28px;
    text-shadow: 3px 0px rgb(253, 240, 235), 3px 3px rgb(253, 240, 235), 0px 3px rgb(253, 240, 235), -3px 3px rgb(253, 240, 235), -3px 0px rgb(253, 240, 235), -3px -3px rgb(253, 240, 235), 0px -3px rgb(253, 240, 235), 3px -3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235), 0px 0px 3px rgb(253, 240, 235);
}

.step {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin: 0 50px;
}

.step div {
    color: rgb(224, 74, 8);
}

.steps .separator {
    position: absolute;
    background: transparent url('../img/step_dots.png') no-repeat scroll 0% 0%;
    width: 68px;
    height: 15px;
}

.steps .separator.sep {
    top: 170px;
    left: 283px;
}

.steps .separator.sep1 {
    top: 170px;
    right: 290px;
}

.vitamins {
    margin-top: 25px;
    font-size: 0;
    text-align: center;
}

.vitamins .title {
    text-align: center;
    color: white;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 55px;
}

.vitamin {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin: 0 25px 20px;
}

.vitamin div {
    text-align: left;
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0 10px;
    padding-left: 28px;
}

.vitamin span {
    display: block;
    padding-left: 26px;
    color: rgb(211, 195, 189);
    text-align: left;
    background: transparent url('../img/vitamins_arrow.png') no-repeat scroll left top;
    min-height: 15px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.effect {
    border-radius: 20px;
    background: rgb(239, 209, 174) url(../img/effect_img.png) no-repeat left center;
    background-size: contain;
    padding: 15px;
}

.effect img {
    float: left;
}

.effect_text {
    width: 530px;
    margin-left: 300px;
}

.effect_text div {
    border-bottom: 1px solid rgb(228, 195, 156);
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: rgb(224, 74, 8);
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.effect_text p {
    font-size: 18px;
    color: rgb(31, 17, 14);
    line-height: 25px;
}

.benefits {
    background: rgb(36, 16, 12);
    padding: 20px;
    border-radius: 20px;
}

.benefit {
    width: 205px;
    display: inline-block;
    vertical-align: top;
    margin: 5px 44px;
    position: relative;
}

.benefit .title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: rgb(219, 204, 198);
    text-transform: uppercase;
    text-shadow: 0px 5px 5px rgb(22, 9, 7);
    text-align: center;
}

.benefit .percent {
    width: 120px;
    line-height: 30px;
    margin: 8px auto 0px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(67, 35, 6);
    text-align: center;
    background: white none repeat scroll 0% 0%;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    top: -15px;
    left: 50%;
    margin-left: -60px;
}

.benefit .images {
    background: white none repeat scroll 0% 0%;
    border-radius: 34px;
    overflow: hidden;
    border: 3px solid white;
    height: 201px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.benefit span {
    display: block;
    padding-left: 28px;
    background: transparent url('../img/vitamins_arrow.png') no-repeat scroll left top;
    font-size: 18px;
    color: rgb(219, 204, 198);
    margin-bottom: 20px;
}

.benefit.middle .title {
    width: 280px;
    margin-left: -37px;
}

.benefit.middle span {
    width: 250px;
}

.health_hair {
    padding: 20px;
    margin-top: 60px;
    background: transparent url('../img/health_bg.png') no-repeat scroll 0% 0%;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 20px;
}

.health_hair .title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(31, 17, 14);
    text-transform: uppercase;
    padding-top: 21px;
    margin-bottom: 18px;
}

.health_hair .subtitle {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: rgb(31, 17, 14);
    margin-bottom: 43px;
}

.health_item {
    display: inline-block;
    vertical-align: top;
    width: 294px;
    padding: 0 10px;
    text-align: center;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.health_item div {
    font-weight: 700;
    color: rgb(31, 17, 14);
    font-size: 18px;
    line-height: 21px;
}

.health_item img {
    margin-bottom: 22px;
}

.inner_title {
    text-align: center;
    font-size: 18px;
    color: rgb(249, 219, 183);
    line-height: 21px;
    margin-top: 29px;
    margin-bottom: 1px;
}

.doctor {
    background: #fff;
    margin-top: 35px;
    border-radius: 20px;
    padding: 25px 25px 25px 340px;
    overflow: hidden;
    position: relative;
    min-height: 310px;
}

.doctor p {
    font-size: 18px;
    line-height: 24px;
    color: rgb(31, 17, 14);
    position: relative;
}

.doctor .name {
    font-weight: 700;
    font-style: italic;
    color: rgb(24, 116, 142);
    font-size: 18px;
    margin-top: 24px;
}

.doctor .arrows_top {
    position: absolute;
    top: 30px;
    left: 260px;
}

.doctor .arrows_bottom {
    position: absolute;
    bottom: 21px;
    right: 33px;
}

.doctor_img {
    position: absolute;
    width: 220px;
    bottom: 0;
    left: 35px;
}

.recomended {
    margin-top: 60px;
    background: rgb(239, 218, 191) url(../img/recomended_img.jpg) no-repeat right center;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
    border-radius: 20px;
    padding: 20px 20px 20px 30px;
    overflow: hidden;
    z-index: 2;
}

.recomended .text {
    position: relative;
    z-index: 2;
    width: 470px;
    font-size: 18px;
    color: rgb(31, 17, 14);
}

.recomended .title {
    line-height: 24px;
    font-weight: 700;
    padding-top: 25px;
}

.recomended p {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 25px;
}

.recomended span {
    display: block;
    margin-left: -5px;
    padding-left: 30px;
    line-height: 24px;
    background: transparent url('../img/recomended_icon.png') no-repeat scroll left top;
    margin-bottom: 24px;
}

.share {
    position: relative;
    margin-top: 30px;
    border-radius: 15px 15px 0px 0px;
    padding: 30px 20px;
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(116,9,22,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(116,9,22,1)), color-stop(100%, rgba(255,255,255,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(116,9,22,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(116,9,22,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(116,9,22,1) 100%); /* ie10+ */
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(116,9,22,1) 100%); /* w3c */
}

.share .spec {
    display: inline-block;
    vertical-align: middle;
    padding-left: 43px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: rgb(228, 66, 5);
    background: transparent url('../img/spec_bg.png') no-repeat scroll left center;
    min-height: 34px;
    text-decoration: underline;
    margin-right: 50px;
    width: 122px;
}

.share .btn {
    display: inline-block;
    vertical-align: middle;
    width: 190px;
}

.share .old_price {
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-transform: uppercase;
    width: 135px;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    font-weight: 700;
    margin-right: 22px;
}

.share .old_price div {
    text-decoration: line-through;
}

.share .new_prc {
    display: inline-block;
    vertical-align: middle;
    background: transparent url('../img/new_prc_bg.png') no-repeat scroll 0% 0%;
    width: 132px;
    height: 68px;
    line-height: 70px;
    color: white;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 10px;
}

.share .ttl {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    margin-right: 10px;
    width: 130px;
}

.scissors {
    position: absolute;
    top: -280px;
    left: -225px;
    width: 450px;
}

.innovation {
    background: rgb(11, 13, 12) url(../img/innovations_img.png) no-repeat left center;
    -webkit-background-size: contain;
    background-size: contain;
    border-radius: 20px;
    color: white;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.innovation .text {
    position: relative;
    z-index: 2;
    padding-left: 341px;
    width: 530px;
}

.innovation .title {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.innovation p {
    font-size: 18px;
    line-height: 24px;
}

.innovation img {
    position: absolute;
    left: 0px;
    top: 0px;
}

.check {
    padding: 20px;
}

.check .left {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 3;
    margin-left: 90px;
    margin-right: 48px;
    width: 200px;
}

.check .text {
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 530px;
}

.check .title {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 17px;
    border-bottom: 1px solid rgb(107, 8, 24);
    margin-top: 21px;
    margin-left: -2px;
    margin-bottom: 19px;
}

.check p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}


.check .button {
    font-size: 25px;
    margin: -44px auto 0px;
    position: relative;
    z-index: 5;
}

.main_form {
    background: rgb(74, 2, 13) url(../img/form_bg.png) no-repeat right top;
    background-size: 700px;
    border-radius: 13px;
    border: 3px solid rgb(138, 0, 23);
    padding: 20px;
    margin-bottom: 20px;
}

.main_form .form {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.inp {
    display: block;
    outline: none;
    width: 360px;
    padding: 0 30px 0 38px;
    height: 40px;
    color: #54040c;
    font: 700 18px "Roboto Condensed", sans-serif;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {color:#54040c;}
::-moz-placeholder          {color:#54040c;}
:-moz-placeholder           {color:#54040c;}
:-ms-input-placeholder      {color:#54040c;}

select.inp {
    position: relative;
    background: url(../img/sprite_two.png) no-repeat 10px 11px, url(../img/br_black.png) no-repeat 95% 50%, #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    cursor: pointer;
}

select.inp:before {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/br_black.png) no-repeat center;
    top: 0;
    right: 0;
}

input.name {
    background: #fff url(../img/sprite_two.png) no-repeat 8px -32px;
}

input.phone {
    background: #fff url(../img/sprite_two.png) no-repeat 10px -74px;
}

.main_form .title {
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.shipment_price, .total_price {
    text-transform: uppercase;
    font-weight: bold;
}

.shipment_price {
    font-size: 16px;
    color: #fff;
    margin: 10px 0 5px;
}

.total_price {
    font-size: 22px;
    color: #ffdd22;
    margin-bottom: 15px;
}

.main_form .form .btn {
    display: inline-block;
    vertical-align: middle;
}

.main_form .form .price {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

.form_right {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 0px 30px;
    width: 300px;
}

.form_right .timer {
    background: transparent url('../img/form_timer.png') no-repeat scroll 0% 0%;
    width: 220px;
    height: 60px;
}

.form_right .timer_title {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    margin: 10px 0px 0px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(55, 37, 33);
    display: inline-block;
}

.form_right .ttl {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 8px 0px 9px;
}

.form_right p {
    font-size: 14px;
    line-height: 1.5;
    color: white;
}

.main_form .desc {
    line-height: 16px;
    color: white;
    margin-top: 27px;
    width: 560px;
}

.footer {
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    color: rgb(235, 180, 189);
    padding: 53px 0px 26px;
}

/*.clear {
    clear: both;
}*/

.clear::after {
    content: "";
    display: table;
    clear: both;
}

.dash {
    background: transparent none repeat scroll 0% 0%;
    float: left;
    position: relative;
    margin-right: 20px;
    width: 50px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
}

.dash .digit {
    font-size: 36px;
    float: left;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: white;
    position: relative;
    letter-spacing: 0px;
    width: 20px;
    text-align: center;
}

.dash.seconds_dash {
    margin-right: 0px;
}

.dash .digit .top,
.dash .digit .bottom {}

.dash_title {
    display: none;
}

.seconds_dash .digit {}

.errorMessage {
    box-sizing: border-box;
    position: absolute;
    z-index: 100000;
    font-size: 16px;
    background: #DC3434;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    line-height: 12px;
    padding: 12px 12px;
}

.copyright {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    color: #6C6E6F;
}

.copyright p {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.copyright br {
    display: none;
}

.copyright img {
    margin: 10px auto!important;
}

.copyright img:first-child {
    display: block!important;
}

.copyright a {
    color: #6C6E6F;
    text-decoration: none;
}

.copyright a:hover {
    color: #FF0069;
    text-decoration: none;
}

.doctor .text {
    position: relative;
    z-index: 2
}

.doctor .arrows_top {
    z-index: 2
}

.doctor_img {
    z-index: 1
}
