*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.present {
  padding: 75px 0;
  background: url('../img/present_bg.jpg') 15% 50% no-repeat;
  color: #fff;
  position: relative;
}

.present__decore {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.present__decore:before {
  content: '';
  background: url('../img/decore_01.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 300px;
  height: 190px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -40px -40px 0 0;
}

.present__decore:after {
  content: '';
  background: url('../img/decore_02.png') top center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 316px;
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 200px;
}

.present__element {
  position: absolute;
  width: 50%;
  bottom: 0;
}

.present__element_01 {
  padding: 0 390px 0 0;
}

.present__element_01:before {
  content: '';
  background: url('../img/present_decore_left.png') right center no-repeat;
  max-width: 516px;
  height: 594px;
  display: block;
  margin: 0 auto -110px;
}

.present__element_02 {
  right: 0;
  padding: 0 0 0 485px;
}

.present__element_02:before {
  content: '';
  background: url('../img/present_decore_right.png') center no-repeat;
  width: 322px;
  height: 580px;
  display: block;
  margin: 0 0 0 auto;
}

.present__wrap {
  width: 55%;
  margin: 0 60px 0 auto;
  position: relative;
}

.logo:before {
  content: '';
  background: url('../img/text_logo.png') center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 562px;
  height: 152px;
  display: block;
}

.present__text {
  padding: 0 0 40px;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
}

.present__text span {
  font-weight: 900;
}

.present__text:before {
  content: '';
  background: url('../img/present_decore_02.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 206px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 100%;
  margin: -85px 0 0;
}

.present__text:after {
  content: '';
  background: url('../img/present_decore_01.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 384px;
  height: 384px;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: 0 0 0 -60px;
}

.product {
  position: absolute;
  top: 50%;
  right: 110%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 -45px 0 0;
  max-width: 50%;
}

.present__discount {
  font-size: 32px;
  font-weight: bold;
  color: #ffd800;
}

.timer {
  padding: 20px 0 45px;
  font-size: 32px;
  font-weight: 900;
}

.timer__item {
  padding: 10px;
  border: 3px solid #fff;
  width: 80px;
  display: inline-block;
  text-align: center;
}

.timer__number:first-child {
  letter-spacing: 10px;
}

.timer__delimiter {
  padding: 0 5px;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  display: table;
  -webkit-box-shadow: 14px 14px 27px rgba(0, 0, 0, .4);
  -moz-box-shadow: 14px 14px 27px rgba(0, 0, 0, .4);
  box-shadow: 14px 14px 27px rgba(0, 0, 0, .4);
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 5;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: transform .3s, box-shadow .3s, color .1s .2s;
  -moz-transition: transform .3s, box-shadow .3s, color .1s .2s;
  -ms-transition: transform .3s, box-shadow .3s, color .1s .2s;
  -o-transition: transform .3s, box-shadow .3s, color .1s .2s;
  transition: transform .3s, box-shadow .3s, color .1s .2s;
}

button:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #3d3641;
  -webkit-animation: button__move .2s .25s ease-out forwards;
  -o-animation: button__move .2s .25s ease-out forwards;
  animation: button__move .2s .25s ease-out forwards;
}

@-webkit-keyframes button__move {
  from {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  30% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes button__move {
  from {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  30% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes button__move {
  from {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  30% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes button__move {
  from {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  30% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  to {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.button__wrap {
  display: block;
  padding: 15px 30px;
  background-color: #ff4200;
  position: relative;
  z-index: 2;
  -webkit-transition: background-color .3s .1s;
  -moz-transition: background-color .3s .1s;
  -ms-transition: background-color .3s .1s;
  -o-transition: background-color .3s .1s;
  transition: background-color .3s .1s;
}

button:hover .button__wrap {
  background-color: #bbe486;
}

button:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 15px 5px #ff4200;
  -moz-box-shadow: 0 0 15px 5px #ff4200;
  box-shadow: 0 0 15px 5px #ff4200;
  opacity: 1;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
  -webkit-transition: transform .3s .2s, opacity .3s .2s;
  -moz-transition: transform .3s .2s, opacity .3s .2s;
  -ms-transition: transform .3s .2s, opacity .3s .2s;
  -o-transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
}

button:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 25px #ff4200;
  -moz-box-shadow: inset 0 0 25px #ff4200;
  box-shadow: inset 0 0 25px #ff4200;
  opacity: 1;
  -webkit-transform: scale(.7);
  -moz-transform: scale(.7);
  -ms-transform: scale(.7);
  -o-transform: scale(.7);
  transform: scale(.7);
  -webkit-transition: transform .3s .2s, opacity .3s .2s;
  -moz-transition: transform .3s .2s, opacity .3s .2s;
  -ms-transition: transform .3s .2s, opacity .3s .2s;
  -o-transition: transform .3s .2s, opacity .3s .2s;
  transition: transform .3s .2s, opacity .3s .2s;
}

button:hover:before,
button:hover:after {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}

.comments__button {
  margin: 0 auto;
}

.promo {
  padding: 170px 0 160px;
  position: relative;
  color: #000;
  overflow: hidden;
}

.promo__wrap {
  display: table;
}

.promo__cell {
  display: table-cell;
  vertical-align: middle;
}

.promo__title {
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  padding: 0 0 20px;
}

.promo__title span {
  font-weight: 900;
  color: #ff4200;
}

.promo__text {
  line-height: 1.43;
  padding: 0 40px 0 0;
}

.promo__video {
  position: relative;
}

.promo__decore {
  background: url('../img/promo_bg.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 800px;
  height: 858px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -510px 0 0 -250px;
  opacity: .5;
}

.promo__video video {
  width: 560px;
  -webkit-box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.5);
  box-shadow: 15px 15px 45px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.promo__poster {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 3;
  cursor: pointer;
}

.promo__poster:before {
  content: '';
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, .6);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -65px;
}

.promo__poster:after {
  content: '';
  border: 30px solid transparent;
  border-left: 50px solid rgba(255, 255, 255, .6);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -20px;
}

.advantages {
  padding: 170px 0;
  background: url('../img/advantage_bg.jpg') center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
}

.logo_mod:before {
  margin: 0 auto;
}

.advantages__wrap {
  font-size: 0;
  padding: 60px 0 120px;
  text-align: center;
}

.advantages__item {
  display: inline-block;
  width: 25%;
  vertical-align: middle;
  font-size: initial;
  position: relative;
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
  opacity: 0;
  -webkit-transition: transform .7s, opacity .5s;
  -moz-transition: transform .7s, opacity .5s;
  -ms-transition: transform .7s, opacity .5s;
  -o-transition: transform .7s, opacity .5s;
  transition: transform .7s, opacity .5s;
}

.advantages__item_02 {
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -ms-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}

.advantages__item_03 {
   -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -ms-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.advantages__item_04 {
   -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -ms-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.advantages__item.move {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.advantage__layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
}

.advatages__text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 0 35px;
}

.advatages__text_01:before {
  background: url('../img/advantage_decore_01.svg') center no-repeat;
}

.advatages__text_02:before {
  background: url('../img/advantage_decore_02.svg') center no-repeat;
}

.advatages__text_03:before {
  background: url('../img/advantage_decore_03.svg') center no-repeat;
}

.advatages__text_04:before {
  background: url('../img/advantage_decore_04.svg') center no-repeat;
}

.advatages__text:before {
  content: '';
  width: 62px;
  height: 72px;
  display: block;
  margin: 0 auto 5px;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.advantages__subtext {
  font-size: 25px;
  font-weight: bold;
  display: table;
  margin: 0 auto;
  padding: 15px 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background: #ff4200;
  text-align: center;
}

.description {
  padding: 120px 0 110px;
  color: #000;
  position: relative;
  overflow: hidden;
}

.description:after {
  content: '';
  background: url('../img/description_bg.png') 10% 0 no-repeat;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
}

.description__wrap {
  width: 60%;
  padding: 0 0 0 60px;
  position: relative;
}

.description__title {
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 0 10px;
}

.description__title span {
  font-weight: 900;
}

.description__text {
  font-size: 18px;
  line-height: 1.43;
  padding: 0 0 20px;
}

.description__item {
  padding: 20px 0;
}

.description__subtitle {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding: 0 0 5px;
}

.description__subtitle:after {
  content: '';
  width: 60px;
  border-top: 1px solid #ff4200;
  display: block;
  margin: 10px 0 0;
}

.description__subtext {
  line-height: 1.43;
}

.order {
  padding: 75px 0 130px;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: url('../img/order_bg.jpg') left center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.order:before,
.order:after {
  content: '';
  width: 51%;
  height: 50px;
  background: #fff;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.order:before {
  left: -20px;
  -webkit-transform: skew(35deg);
  -moz-transform: skew(35deg);
  -ms-transform: skew(35deg);
  -o-transform: skew(35deg);
  transform: skew(35deg);
}

.order:after {
  right: -55px;
  -webkit-transform: skew(-35deg);
  -moz-transform: skew(-35deg);
  -ms-transform: skew(-35deg);
  -o-transform: skew(-35deg);
  transform: skew(-35deg);
}

.order__decore {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.order__decore:before {
  content: '';
  background: url('../img/decore_01.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 300px;
  height: 190px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -40px -40px 0 0;
}

.order__decore:after {
  content: '';
  background: url('../img/decore_02.png') top center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 300px;
  height: 187px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 70px -40px 0;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.order__element {
  width: 50%;
  position: absolute;
  top: 0;
}

.order__element_01 {
  right: 0;
  padding: 240px 0 0 485px;
}

.order__element_01:before {
  content: '';
  background: url('../img/order_decore_03.png') center no-repeat;
  width: 254px;
  height: 256px;
  display: block;
  margin: 0 0 0 auto;
}

.order__element_02 {
  padding: 0 420px 0 0;
}

.order__element_02:before {
  content: '';
  background: url('../img/order_decore_left.png') right center no-repeat;
  max-width: 436px;
  height: 446px;
  display: block;
}

.order__wrap {
  position: relative;
  padding: 0 0 0 400px;
}

.order__text {
  padding: 25px 50px 40px 0;
  position: relative;
  line-height: 1.7;
  font-weight: bold;
  counter-reset: order-count;
}

.order__text:before {
  content: '';
  background: url('../img/order_decore_02.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 226px;
  height: 226px;
  position: absolute;
  top: 0;
  left: 100%;
  margin: -113px 0 0;
}

.order__text:after {
  content: '';
  background: url('../img/order_decore_01.png') center no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  width: 432px;
  height: 380px;
  position: absolute;
  top: 100%;
  left: 100%;
  margin: -50px 0 0;
}

.order__text p {
  padding: 0 0 10px;
}

.order__text p:before {
  content: counter(order-count) '.';
  counter-increment: order-count;
  display: inline-block;
  margin: 0 5px 0 0;
}

.product_mod {
  margin: 60px -10px 0 0;
  -webkit-transform: translateY(-50%) rotate(15deg);
  -moz-transform: translateY(-50%) rotate(15deg);
  -ms-transform: translateY(-50%) rotate(15deg);
  -o-transform: translateY(-50%) rotate(15deg);
  transform: translateY(-50%) rotate(15deg);
}

form {
  font-size: 0;
  padding: 0 50px 0 0;
}

.form__field {
  background: #fff;
}

.form__field:not(.form__field_mod) {
  display: inline-block;
  width: 48%;
  margin: 10px 19px 0 0;
}

.form__field.form__field_no-margin {
  margin: 0;
}

.form__field_mod {
  position: relative;
}

.form__field_mod:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  border-bottom-color: #000;
  border-right-color: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  margin: -6px 15px 0 0;
}

input, select, option {
  padding: 15px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 18px;
  position: relative;
  z-index: 3;
}

select::-ms-expand {
  display: none;
}

.price {
  padding: 25px 0;
  text-transform: uppercase;
  line-height: 1.43;
}

.price__old {
  font-weight: bold;
  font-size: 22px;
  text-decoration: line-through;
}

.price__new {
  font-weight: 900;
  font-size: 46px;
  color: #ffd800;
}

.comments {
  padding: 70px 0 80px;
  color: #000;
}

.comments__title {
  padding: 0 0 10px;
  font-size: 44px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.comments__item {
  padding: 30px 0;
}

.comments__wrap {
  position: relative;
  padding: 0 0 0 100px;
}

.comments__avatar {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.comments__name {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 5px;
}

.comments__date {
  color: #9a9a9a;
  font-weight: 300;
}

.comments__text {
  line-height: 1.43;
  padding: 10px 0 0;
}

/*==============DECORE==============*/

.description__decore {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.description__leaf {
  position: absolute;
}

.description__leaf_01 {
  background: url('../img/description_decore_01.png') center no-repeat;
  width: 306px;
  height: 308px;
  top: 0;
  right: 100%;
}

.description__leaf_02 {
  background: url('../img/description_decore_02.png') center no-repeat;
  width: 142px;
  height: 298px;
  bottom: 100px;
  left: 100%;
}

.description__leaf_03 {
  background: url('../img/description_decore_03.png') center no-repeat;
  width: 62px;
  height: 86px;
  bottom: 100%;
  right: 50%;
  margin: 0 0 20px 0;
}

.description__leaf_04 {
  background: url('../img/description_decore_03.png') center no-repeat;
  width: 62px;
  height: 86px;
  bottom: 150px;
  left: 150px;
}

.description__leaf_05 {
  background: url('../img/description_decore_04.png') center no-repeat;
  width: 42px;
  height: 50px;
  top: 100%;
  left: 50%;
}